Repository taikoxyz/taiko-client, pull requests merged in 2022-11, with the labels that each got.

#20 [proposer] introduce randomness when building the `txList` to propose
  cmd/flags/proposer.go
  go.mod
  go.sum
  pkg/rpc/methods.go
  proposer/config.go
  proposer/pool_content_splitter.go
  proposer/pool_content_splitter_test.go
  proposer/proposer.go
Labels: enhancement, client, proposer

#26 eip1159 hash requires empty basefeepergas or the basefeepergas if it …
  .github/workflows/test.yml
  .gitignore
  bindings/.githead
  bindings/encoding/struct.go
  bindings/encoding/struct_test.go
  bindings/gen_taiko_l1.go
  bindings/gen_v1_taiko_l2.go
  integration_test/entrypoint.sh
  integration_test/testnet/docker-compose.yml
  integration_test/testnet/init.sh
  version/verison.go
Labels: client, bindings

#27 [metrics] add metrics for client softwares
  README.md
  cmd/flags/common.go
  cmd/utils/sub_command.go
  driver/chain_inserter.go
  driver/driver.go
  driver/driver_test.go
  driver/state.go
  metrics/metrics.go
  proposer/pool_content_splitter.go
  proposer/proposer.go
  proposer/proposer_test.go
  prover/prove_block_invalid.go
  prover/prove_block_valid.go
  prover/prover.go
  prover/prover_test.go
Labels: enhancement, client, metrics

#28 [proposer] split `CommitAndPropose` method
  go.mod
  go.sum
  pkg/rpc/methods.go
  pkg/rpc/methods_test.go
  proposer/invalid_blocks.go
  proposer/pool_content_splitter.go
  proposer/pool_content_splitter_test.go
  proposer/proposer.go
Labels: enhancement, client, proposer

#29 test(all): add more unit tests
  .github/workflows/docker.yml
  .github/workflows/lint-pr.yml
  .github/workflows/test.yml
  .gitignore
  bindings/encoding/input_test.go
  bindings/encoding/struct_test.go
  cmd/flags/prover.go
  driver/chain_inserter.go
  driver/chain_inserter_test.go
  driver/config.go
  driver/config_test.go
  go.mod
  go.sum
  integration_test/entrypoint.sh
  metrics/metrics.go
  pkg/jwt/jwt_test.go
  pkg/rpc/client_test.go
  pkg/rpc/dial_test.go
  pkg/rpc/fallback_test.go
  pkg/rpc/methods_test.go
  pkg/rpc/utils_test.go
  proposer/config_test.go
  proposer/proposer_test.go
  prover/anchor.go
  prover/anchor_test.go
  prover/config.go
  prover/config_test.go
  prover/producer/dummpy_producer_test.go
  prover/producer/zkevm_rpcd_producer_test.go
  prover/prover_test.go
  prover/tx_list_validator.go
Labels: client, test

#32 chore(workflow): remove some no longer used configs
  .github/workflows/test.yml
  README.md
Labels: enhancement, client

#33 chore(workflow): integrate Codecov
  .github/workflows/test.yml
  .gitignore
  README.md
  bindings/encoding/input_test.go
  driver/chain_inserter.go
  driver/chain_inserter_test.go
  driver/config_test.go
  driver/driver_test.go
  driver/state_test.go
  integration_test/entrypoint.sh
  pkg/jwt/jwt_test.go
  pkg/rpc/engine_test.go
  pkg/rpc/utils_test.go
  proposer/config_test.go
  proposer/invalid_blocks_test.go
  proposer/proposer.go
  proposer/proposer_test.go
  prover/anchor.go
  prover/anchor_test.go
  prover/config_test.go
  prover/prove_block_invalid_test.go
  prover/prover.go
  prover/prover_block_valid_test.go
  prover/prover_test.go
  prover/subscription_test.go
  prover/tx_list_validator.go
  prover/tx_list_validator_test.go
Labels: enhancement, client, test

#34 test(all): refactor tests and increase coverage
  README.md
  bindings/encoding/input_test.go
  bindings/encoding/struct_test.go
  cmd/utils/sub_command.go
  driver/anchor_test.go
  driver/chain_inserter.go
  driver/chain_inserter_test.go
  driver/config.go
  driver/config_test.go
  driver/driver.go
  driver/driver_test.go
  driver/state.go
  driver/state_test.go
  go.mod
  go.sum
  integration_test/entrypoint.sh
  integration_test/testnet/docker-compose.yml
  integration_test/testnet/init.sh
  metrics/metrics.go
  pkg/rpc/methods.go
  pkg/rpc/methods_test.go
  pkg/rpc/utils.go
  pkg/rpc/utils_test.go
  pkg/tx_list_validator/tx_list_validator.go
  pkg/tx_list_validator/tx_list_validator_test.go
  proposer/config_test.go
  proposer/invalid_blocks.go
  proposer/invalid_blocks_test.go
  proposer/pool_content_splitter_test.go
  proposer/proposer.go
  proposer/proposer_test.go
  prover/anchor_test.go
  prover/config_test.go
  prover/merkle_proof_test.go
  prover/prove_block_invalid.go
  prover/prove_block_invalid_test.go
  prover/prove_block_valid.go
  prover/prover.go
  prover/prover_block_valid_test.go
  prover/prover_test.go
  prover/subscription_test.go
  testutils/helper.go
  testutils/interfaces.go
  testutils/suite.go
Labels: enhancement, client, test

#37 chore(ci): update codecov configs
  .github/workflows/test.yml
  codecov.yml
Labels: enhancement, client, ci

#39 chore(bindings): update contract bindings and rename `finalize` to `verify`
  bindings/.githead
  bindings/gen_taiko_l1.go
  driver/chain_inserter.go
  driver/state.go
  driver/state_test.go
  metrics/metrics.go
  pkg/rpc/methods.go
  prover/prover.go
  prover/prover_test.go
  prover/subscription.go
  scripts/gen_bindings.sh
Labels: client, bindings

#40 chore(version): bump version
  version/verison.go
Labels: client

#42 feat(all): change proofs order && use a reusable commitSlot when committing blocks
  .github/workflows/test.yml
  bindings/.githead
  bindings/encoding/input.go
  bindings/gen_taiko_l1.go
  bindings/gen_v1_taiko_l2.go
  cmd/flags/proposer.go
  driver/state.go
  pkg/rpc/utils.go
  proposer/config.go
  proposer/config_test.go
  proposer/proposer.go
  proposer/proposer_test.go
  prover/prove_block_invalid.go
  prover/prove_block_valid.go
  prover/prover.go
Labels: client, prover

#44 feat(pkg): optimize `GetReceiptsByBlock`
  pkg/rpc/utils.go
  pkg/rpc/utils_test.go
  prover/prove_block_valid.go
Labels: enhancement, client

#43 feat(pkg): move `event_iterator` into a separate package
  cmd/flags/prover.go
  codecov.yml
  driver/chain_inserter.go
  driver/chain_inserter_test.go
  driver/state.go
  pkg/chain_iterator/block_batch_iterator.go
  pkg/chain_iterator/event_iterator/block_proposed_iterator.go
  pkg/rpc/utils.go
  pkg/rpc/utils_test.go
  prover/config.go
  prover/prove_block_valid.go
  prover/prover.go
  prover/prover_test.go
Labels: enhancement, client

#45 feat(prover): check if current prover is whitelisted
  codecov.yml
  go.mod
  prover/prover.go
  prover/prover_test.go
Labels: enhancement, client, prover

#46 chore(workflow): update workflows
  .github/workflows/test.yml
Labels: client

#47 chore(bindings): update protocol bindings
  bindings/.githead
  bindings/gen_taiko_l1.go
Labels: client, bindings

#52 chore(go): update go.mod
  go.mod
  go.sum
Labels: client

#53 fix(pkg): fix a `BlockProposedIterator` issue
  pkg/chain_iterator/event_iterator/block_proposed_iterator.go
  prover/prover.go
Labels: bug, client

#54 feat(prover): improve `proveOp`
  driver/chain_inserter.go
  pkg/chain_iterator/block_batch_iterator.go
  pkg/chain_iterator/event_iterator/block_proposed_iterator.go
  prover/prove_block_invalid.go
  prover/prove_block_valid.go
  prover/prover.go
  prover/prover_test.go
Labels: enhancement, client, prover

#55 fix(cmd): fix a flag issue
  cmd/flags/proposer.go
Labels: bug, client, prover

#56 feat(proposer): improve `CommitTxList`
  proposer/invalid_blocks.go
  proposer/proposer.go
  proposer/proposer_test.go
Labels: enhancement, client, proposer
