Repository taikoxyz/taiko-client, pull requests merged in 2022-12, with the labels that each got.

#59 refactor(driver, bindings): optimize assembling anchor transactions by introducing `AnchorConstructor` and `FixedKSigner` structs && introduce `bindings.ProtocolConstants`
  bindings/.githead
  bindings/constant.go
  cmd/flags/proposer.go
  driver/anchor.go
  driver/anchor_constructor.go
  driver/anchor_constructor_test.go
  driver/anchor_test.go
  driver/beacon_syncer.go
  driver/block_inserter.go
  driver/chain_syncer.go
  driver/crypto/anchor_signature_test.go
  driver/signer/fixed_k_signer.go
  driver/signer/fixed_k_signer_test.go
  driver/state.go
  pkg/rpc/fallback.go
  pkg/rpc/methods.go
  pkg/tx_list_validator/tx_list_validator.go
  proposer/config.go
  proposer/invalid_blocks.go
  proposer/invalid_blocks_test.go
  proposer/pool_content_splitter.go
  proposer/pool_content_splitter_test.go
  proposer/proposer.go
  prover/prove_block_invalid.go
  prover/prove_block_valid.go
  prover/prover.go
  testutils/helper.go
  testutils/interfaces.go
Labels: enhancement, client, driver

#60 test(proposer): introduce `CustomProposeOpHook` for better testing flexibility
  proposer/proposer.go
  proposer/proposer_test.go
Labels: client, proposer, test

#62 chore(dockerfile, bindings): expose metrics server's port && update bindings
  Dockerfile
  bindings/.githead
  bindings/constant.go
  bindings/gen_taiko_l1.go
  bindings/gen_v1_taiko_l2.go
  cmd/utils/sub_command.go
  integration_test/entrypoint.sh
  pkg/rpc/methods.go
  pkg/rpc/methods_test.go
  prover/config_test.go
  prover/prover.go
  prover/prover_test.go
  version/verison.go
Labels: enhancement, client

#63 feat(proposer): check whether the current proposer is whitelisted when initializing
  proposer/proposer.go
  proposer/proposer_test.go
  prover/prover_test.go
Labels: enhancement, client, proposer

#64 fix(test): fix a test error
  proposer/proposer_test.go
  prover/prover_test.go
Labels: client, prover, proposer, test

#65 test(proposer): improve proposer tests
  proposer/proposer_test.go
Labels: client, proposer, test

#67 refactor(bindings): rename `V1TaikoL2` to `TaikoL2`
  .golangci.yml
  bindings/.githead
  bindings/encoding/input.go
  bindings/gen_taiko_l1.go
  bindings/gen_taiko_l2.go
  docs/README.md
  driver/anchor_constructor.go
  driver/block_inserter.go
  driver/chain_syncer.go
  integration_test/entrypoint.sh
  integration_test/testnet/init.sh
  pkg/rpc/client.go
  scripts/gen_bindings.sh
Labels: client, bindings

#69 feat(driver): allow empty L2 blocks
  driver/block_inserter.go
  driver/block_inserter_test.go
  pkg/tx_list_validator/tx_list_validator.go
  pkg/tx_list_validator/tx_list_validator_test.go
  prover/prover.go
  prover/prover_test.go
  testutils/helper.go
Labels: enhancement, client, driver

#70 feat(prover): improve proofs submission
  pkg/rpc/methods.go
  pkg/rpc/methods_test.go
  prover/anchor.go
  prover/producer/dummpy_producer_test.go
  prover/producer/dummy_producer.go
  prover/producer/proof_producer.go
  prover/producer/zkevm_rpcd_producer.go
  prover/producer/zkevm_rpcd_producer_test.go
  prover/prove_block_invalid.go
  prover/prove_block_invalid_test.go
  prover/prove_block_valid.go
  prover/prover.go
  prover/prover_block_valid_test.go
Labels: enhancement, client, prover

#71 refactor(prover): rename some variables and methods
  bindings/.githead
  prover/invalid_block_proof.go
  prover/invalid_block_proof_test.go
  prover/prover.go
  prover/prover_test.go
  prover/valid_block_proof.go
  prover/valid_block_proof_test.go
  version/verison.go
Labels: enhancement, client, prover

#61 feat(driver): track L2 execution engine's P2P sync progress
  .gitignore
  cmd/flags/common.go
  cmd/flags/driver.go
  docs/README.md
  driver/beacon_syncer.go
  driver/block_inserter.go
  driver/chain_syncer.go
  driver/config.go
  driver/config_test.go
  driver/driver.go
  driver/driver_test.go
  driver/state.go
  driver/state_test.go
  driver/sync_progress_tracker.go
  driver/sync_progress_tracker_test.go
  integration_test/entrypoint.sh
  integration_test/nodes/deployments/.gitkeep
  integration_test/nodes/docker-compose.yml
  integration_test/nodes/init.sh
  integration_test/nodes/jwt.hex
  metrics/metrics.go
  pkg/chain_iterator/block_batch_iterator.go
  pkg/chain_iterator/event_iterator/block_proposed_iterator.go
  pkg/rpc/client_test.go
  pkg/rpc/dial_test.go
  pkg/rpc/methods.go
  proposer/config.go
  proposer/config_test.go
  proposer/pool_content_splitter.go
  proposer/proposer.go
  proposer/proposer_test.go
  prover/anchor.go
  prover/config.go
  prover/config_test.go
  prover/invalid_block_proof.go
  prover/producer/proof_producer.go
  prover/prover.go
  prover/prover_test.go
  prover/valid_block_proof.go
  testutils/helper.go
  testutils/suite.go
Labels: enhancement, client, driver

#75 feat(proposer): update some proposer logs
  proposer/proposer.go
Labels: client, proposer

#77 feat(driver): improve protocol synced headers verification
  docs/README.md
  driver/driver.go
  driver/state.go
  driver/sync_progress_tracker.go
  proposer/proposer.go
  prover/prover.go
  version/verison.go
Labels: enhancement, client, driver

#79 feat(prover): wait random durations before submit dummy proofs
  README.md
  cmd/flags/prover.go
  prover/config.go
  prover/config_test.go
  prover/producer/dummpy_producer_test.go
  prover/producer/dummy_producer.go
  prover/prover.go
  version/verison.go
Labels: client, prover

#80 fix(driver): remove throwaway builder balance check
  driver/driver.go
Labels: bug, client, driver

#81 feat(driver): use fixed pre-state for throwaway blocks
  driver/block_inserter.go
  version/verison.go
Labels: enhancement, client, driver

#82 chore(ci): update docker image build platforms
  .github/workflows/docker.yml
Labels: client, build

#83 feat(driver): update `AheadOfProtocolVerifiedHead` check
  driver/beacon_syncer.go
  driver/chain_syncer.go
  driver/state.go
  prover/prover.go
Labels: enhancement, client, driver

#86 fix(metrics): fix typos
  metrics/metrics.go
Labels: documentation, client, metrics

#87 chore(go.mod): update `go.mod`
  go.mod
Labels: client

#88 fix(driver): fix a potential error which will happen when restarting a node
  driver/chain_syncer.go
  driver/sync_progress_tracker.go
Labels: bug, client, driver

#89 feat(prover): update `isSubmitProofTxErrorRetryable` check
  prover/prover.go
  prover/prover_test.go
Labels: enhancement, client, prover

#91 feat(prover): improve prover's event loop by introducing `forceProvingTicker`
  prover/prover.go
Labels: enhancement, client, prover

#92 feat(driver): improve driver's logs
  driver/block_inserter.go
  driver/driver.go
  driver/state.go
Labels: enhancement, client, driver

#93 feat(prover): add `MaxConcurrentProvingJobs` && `StartingBlockID` flags
  cmd/flags/prover.go
  prover/config.go
  prover/invalid_block_proof.go
  prover/prover.go
  prover/prover_test.go
  prover/valid_block_proof.go
Labels: enhancement, client, prover

#94 feat(prover): introduce a transaction mutex for better concurrency handling
  prover/invalid_block_proof.go
  prover/prover.go
  prover/prover_test.go
  prover/valid_block_proof.go
Labels: enhancement, client, prover

#96 feat(driver): allow `beacon.VALID` response when calling `NewPayloadV1`
  driver/beacon_syncer.go
  driver/chain_syncer.go
  driver/state.go
Labels: enhancement, driver

#97 chore(all): beautify some logs
  driver/chain_syncer.go
  prover/invalid_block_proof.go
  prover/invalid_block_proof_test.go
  prover/producer/dummy_producer.go
  prover/producer/zkevm_rpcd_producer.go
  prover/valid_block_proof.go
  prover/valid_block_proof_test.go
Labels: enhancement, client

#98 chore(all): beautify some logs
  driver/chain_syncer.go
  driver/state.go
Labels: enhancement, client

#99 chore(version): release `v0.2.0-dev`
  version/verison.go
Labels: client, ci

#100 feat(prover): improve proof submission concurrency
  go.mod
  go.sum
  prover/config.go
  prover/invalid_block_proof.go
  prover/prover.go
  prover/valid_block_proof.go
  version/verison.go
Labels: enhancement, client, prover

#102 fix(driver): use protocol's last valid parent block as the throwaway block's pre-state
  driver/block_inserter.go
  prover/invalid_block_proof.go
  prover/valid_block_proof.go
Labels: client, driver

#103 test(driver): use golden touch account as throwaway block builder in integration tests
  bindings/.githead
  integration_test/entrypoint.sh
Labels: client, driver, test

#105 chore(workflow): use pnpm cache to reduce execution time of workflow
  .github/workflows/test.yml
Labels: enhancement, client, build

#106 docs(driver): fix a typo
  driver/driver.go
Labels: documentation, client, driver

#107 docs(driver): fix a typo (`snæfellsjökull`)
  .github/workflows/test.yml
  driver/driver.go
Labels: documentation, client, driver
