Repository taikoxyz/taiko-client, pull requests merged in 2023-12, with the labels that each got.

#457 fix(prover): Reorder guardian prover sign + add allowance flag/logic
  .github/workflows/test.yml
  cmd/flags/prover.go
  prover/config.go
  prover/config_test.go
  prover/prover.go
  prover/prover_test.go
Labels: area.client, area.client.prover

#464 feat(proposer): optimze log
  pkg/rpc/methods.go
Labels: type.enhancement, area.client, area.client.proposer

#468 fix(bindings): AssignmentHookABI variable
  bindings/encoding/custom_error.go
  bindings/encoding/input.go
Labels: type.enhancement, area.client

#463 test(prover): some improvements on test scripts / logs
  driver/anchor_tx_constructor/anchor_tx_constructor.go
  integration_test/entrypoint.sh
  integration_test/nodes/init.sh
  pkg/rpc/methods.go
  pkg/rpc/utils.go
  pkg/tx_list_validator/tx_list_validator_test.go
  prover/prover.go
  prover/prover_test.go
  prover/server/api.go
  testutils/suite.go
Labels: area.client, area.client.prover, type.test

#469 fix(prover): change separator
  prover/db/db.go
  prover/db/db_test.go
Labels: area.client.prover

#470 feat(prover): always send guardian proofs for guardian provers
  bindings/.githead
  bindings/gen_address_manager.go
  bindings/gen_assignment_hook.go
  bindings/gen_guardian_prover.go
  bindings/gen_taiko_l1.go
  bindings/gen_taiko_l2.go
  bindings/gen_taiko_timelock_controller.go
  bindings/gen_taiko_token.go
  cmd/flags/prover.go
  integration_test/entrypoint.sh
  pkg/rpc/utils.go
  prover/config.go
  prover/config_test.go
  prover/proof_submitter/proof_contester.go
  prover/proof_submitter/proof_submitter.go
  prover/prover.go
  prover/prover_test.go
Labels: type.enhancement, area.client, area.client.prover

#476 feat(prover): introduce `SGXAndZkevmRpcdProducer`
  bindings/encoding/input.go
  bindings/encoding/struct.go
  prover/proof_producer/sgx_and_zkevm_rpcd_producer.go
  prover/proof_producer/sgx_producer.go
  prover/proof_producer/zkevm_rpcd_producer.go
  prover/proof_producer/zkevm_rpcd_producer_test.go
  prover/prover.go
Labels: area.client.prover

#477 feat(prover): fix a SGX proof producer issue
  cmd/flags/prover.go
  prover/config.go
  prover/config_test.go
  prover/proof_producer/sgx_producer.go
Labels: area.client, area.client.prover

#478 feat(prover): remove capacity manager
  go.mod
  prover/capacity_manager/capacity_manager.go
  prover/capacity_manager/capacity_manager_test.go
  prover/capacity_manager/slots_manager.go
  prover/capacity_manager/slots_manager_test.go
  prover/prover.go
  prover/prover_test.go
  prover/server/api.go
  prover/server/api_test.go
  prover/server/server.go
  prover/server/server_test.go
  testutils/helper.go
  testutils/suite.go
Labels: area.client.prover

#479 feat(metrics): add some new metrics
  metrics/metrics.go
  prover/proof_producer/sgx_producer.go
  prover/proof_producer/zkevm_rpcd_producer.go
  prover/proof_submitter/proof_submitter.go
  prover/proof_submitter/transaction/sender.go
Labels: area.client, area.client.prover

#480 fix(protocol): fix an issue for prover initialization
  prover/prover.go
Labels: area.client.prover

#481 chore(go.mod): bump `taiko-geth` version
  bindings/.githead
  cmd/logger/logger.go
  go.mod
  go.sum
  testutils/suite.go
Labels: area.client

#482 feat(docs): update swag and swagger docs
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
Labels: area.docs

#485 fix(prover): fix guardian prover `log` package import
  go.mod
  prover/guardian_prover_sender/guardian_prover.go
Labels: area.client, area.client.prover

#486 feat(prover): set `AssignmentHook` allowance
  cmd/flags/prover.go
  prover/prover.go
  prover/prover_test.go
Labels: area.client, area.client.prover
