Repository taikoxyz/taiko-client, pull requests merged in 2023-01, with the labels that each got.

#104 feat(all): changes base on protocol's `tokenomics_implementation`
  bindings/.githead
  bindings/encoding/input.go
  bindings/encoding/input_test.go
  bindings/encoding/struct.go
  bindings/encoding/struct_test.go
  bindings/gen_taiko_l1.go
  bindings/gen_taiko_l2.go
  bindings/struct.go
  docs/README.md
  driver/block_inserter.go
  driver/chain_syncer.go
  driver/driver.go
  pkg/rpc/methods.go
  pkg/rpc/methods_test.go
  pkg/rpc/utils.go
  pkg/tx_list_validator/tx_list_validator.go
  proposer/pool_content_splitter.go
  proposer/pool_content_splitter_test.go
  proposer/proposer.go
  proposer/proposer_test.go
  prover/invalid_block_proof.go
  prover/invalid_block_proof_test.go
  prover/producer/dummpy_producer_test.go
  prover/producer/dummy_producer.go
  prover/producer/proof_producer.go
  prover/producer/zkevm_rpcd_producer.go
  prover/producer/zkevm_rpcd_producer_test.go
  prover/prover.go
  prover/prover_test.go
  prover/valid_block_proof.go
  prover/valid_block_proof_test.go
  testutils/helper.go
  testutils/interfaces.go
  version/verison.go
Labels: client, prover, driver, proposer

#114 feat(driver): move some components into separated directories
  driver/anchor_tx_constructor/anchor_tx_constructor.go
  driver/anchor_tx_constructor/anchor_tx_constructor_test.go
  driver/block_inserter_test.go
  driver/chain_syncer.go
  driver/chain_syncer/beaconsync/syncer.go
  driver/chain_syncer/calldata/syncer.go
  driver/chain_syncer/calldata/syncer_test.go
  driver/chain_syncer/chain_syncer.go
  driver/chain_syncer/chain_syncer_test.go
  driver/chain_syncer/progress_tracker/progress_tracker.go
  driver/chain_syncer/progress_tracker/progress_tracker_test.go
  driver/driver.go
  driver/driver_test.go
  driver/state.go
  driver/state/l1_current.go
  driver/state/state.go
  driver/state/state_test.go
  driver/state_test.go
  driver/sync_progress_tracker_test.go
  integration_test/entrypoint.sh
  pkg/rpc/subscription.go
  prover/anchor_tx_validator/anchor_tx_validator.go
  prover/anchor_tx_validator/anchor_tx_validator_test.go
  prover/proof_submitter/valid_proof_submitter.go
  prover/prover.go
  prover/prover_test.go
  prover/subscription.go
  prover/subscription_test.go
  testutils/helper.go
  testutils/interfaces.go
Labels: enhancement, client, driver

#115 test(coverage): improve coverage
  bindings/encoding/struct_test.go
  driver/anchor_tx_constructor/anchor_tx_constructor_test.go
  driver/chain_syncer/calldata/syncer_test.go
  driver/chain_syncer/chain_syncer_test.go
  driver/chain_syncer/progress_tracker/progress_tracker_test.go
  driver/driver_test.go
  driver/state/l1_current_test.go
  driver/state/state_test.go
  integration_test/nodes/init.sh
  pkg/rpc/methods_test.go
  pkg/rpc/subscription_test.go
  proposer/proposer_test.go
  prover/anchor_tx_validator/anchor_tx_validator_test.go
  prover/proof_submitter/merkle_proof.go
  prover/proof_submitter/merkle_proof_test.go
  prover/proof_submitter/util_test.go
  prover/proof_submitter/valid_proof_submitter_test.go
  prover/prover_test.go
  testutils/suite.go
Labels: client, test

#117 chore(lint): improve some wordings in `hive.yml`
  .github/workflows/hive.yml
Labels: client, ci

#113 chore(ci): trigger HIVE integration tests
  .github/workflows/hive.yml
Labels: client, test, ci

#118 chore(action): trigger hive test by PR
  .github/workflows/hive.yml
Labels: test, ci

#120 feat(proposer): introduce `types.TransactionsByPriceAndNonce` to store pool content
  pkg/rpc/methods.go
  pkg/rpc/methods_test.go
  proposer/pool_content_splitter.go
  proposer/pool_content_splitter_test.go
  proposer/proposer.go
  version/verison.go
Labels: enhancement, client, proposer

#122 feat(proposer): introduce the `txpool.locals` flag
  cmd/flags/proposer.go
  pkg/rpc/methods.go
  pkg/rpc/methods_test.go
  proposer/config.go
  proposer/config_test.go
  proposer/pool_content_splitter.go
  proposer/pool_content_splitter_test.go
  proposer/proposer.go
Labels: enhancement, client, proposer

#123 feat(proposer): improve sync progress check
  go.mod
  pkg/rpc/methods.go
  pkg/rpc/methods_test.go
  proposer/proposer.go
Labels: enhancement, client, proposer

#124 fix(proposer): fix an issue in `L2ExecutionEngineSyncProgress`
  pkg/rpc/methods.go
Labels: bug, client, proposer

#125 feat(ci): add go cache in action
  .github/workflows/test.yml
Labels: ci

#126 feat: comment hive results
  .github/workflows/hive-test-result.yml
  .github/workflows/hive.yml
Labels: test, ci

#129 chore: Comment on the specified PR
  .github/workflows/hive-test-result.yml
Labels: client, ci

#133 chore(bindings): update bindings
  .github/workflows/test.yml
  bindings/.githead
  bindings/gen_taiko_l1.go
  bindings/gen_taiko_l2.go
Labels: bindings
