Repository taikoxyz/taiko-client, pull requests merged in 2023-09, with the labels that each got.

#379 refactor(rpc): add isSyncing method
  pkg/rpc/methods.go
Labels: type.enhancement

#380 chore(deps): upgrade gohashtree for ARM64
  go.mod
  go.sum
Labels: area.client

#381 chore(repo): Add Solc Download Check Suite for PlonkVerifier Compilation
  integration_test/nodes/init.sh
Labels: type.enhancement, area.client, type.test

#382 chore(repo): auto version the `version.go` file
  release-please-config.json
  version/version.go
Labels: type.enhancement, area.client

#384 feat(prover): introduce `CapacityManager` to manage prover capacity
  proposer/proposer_test.go
  prover/capacity_manager/capacity_manager.go
  prover/capacity_manager/capacity_manager_test.go
  prover/prover.go
  prover/prover_test.go
  prover/server/propose_block.go
  prover/server/propose_block_test.go
  prover/server/server.go
  prover/server/server_test.go
  testutils/helper.go
  testutils/suite.go
Labels: area.client, area.client.prover, meta.alpha-5

#376 feat(all): some client optimizations
  .github/workflows/test.yml
  Dockerfile
  bindings/.githead
  bindings/encoding/input.go
  bindings/encoding/input_test.go
  bindings/encoding/struct.go
  bindings/encoding/struct_test.go
  bindings/gen_taiko_l1.go
  cmd/main.go
  driver/chain_syncer/calldata/syncer.go
  driver/chain_syncer/calldata/syncer_test.go
  driver/chain_syncer/chain_syncer_test.go
  driver/driver_test.go
  go.mod
  go.sum
  pkg/rpc/client.go
  pkg/rpc/utils.go
  pkg/tx_list_validator/tx_list_validator_test.go
  proposer/config.go
  proposer/config_test.go
  proposer/proposer.go
  proposer/proposer_test.go
  proposer/prover_selector/eth_fee_eoa_selector.go
  proposer/prover_selector/eth_fee_eoa_selector_test.go
  proposer/prover_selector/interface.go
  prover/capacity_manager/capacity_manager.go
  prover/capacity_manager/capacity_manager_test.go
  prover/config_test.go
  prover/http/propose_block.go
  prover/http/propose_block_test.go
  prover/http/routes.go
  prover/http/server.go
  prover/http/server_test.go
  prover/proof_producer/dummy_producer.go
  prover/proof_producer/zkevm_cmd_producer.go
  prover/proof_producer/zkevm_rpcd_producer.go
  prover/proof_submitter/valid_proof_submitter.go
  prover/proof_submitter/valid_proof_submitter_test.go
  prover/prover.go
  prover/prover_test.go
  prover/server/propose_block.go
  prover/server/propose_block_test.go
  prover/server/server.go
  prover/server/server_test.go
  testutils/helper.go
  testutils/suite.go
Labels: type.enhancement, area.client, area.client.proposer, meta.alpha-5

#386 feat(prover): update APIs && integrate swagger docs
  .swaggo
  bindings/.githead
  bindings/gen_taiko_l1.go
  cmd/flags/prover.go
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  go.mod
  go.sum
  proposer/proposer.go
  proposer/proposer_test.go
  proposer/prover_selector/eth_fee_eoa_selector.go
  prover/config.go
  prover/prover.go
  prover/prover_test.go
  prover/server/api.go
  prover/server/api_test.go
  prover/server/propose_block.go
  prover/server/server.go
  prover/server/server_test.go
  testutils/helper.go
Labels: type.enhancement, area.client, area.client.prover, meta.alpha-5

#390 feat(proposer): shuffle prover endpoints before assigning proof tasks
  proposer/prover_selector/eth_fee_eoa_selector.go
Labels: type.enhancement, area.client, area.client.proposer

#391 feat(flag): fix some typo
  cmd/flags/proposer.go
Labels: type.bug, area.client

#393 feat(proposer): update oracle proof assignment
  .github/workflows/test.yml
  proposer/prover_selector/eth_fee_eoa_selector.go
  prover/prover.go
Labels: type.enhancement, area.client, area.client.proposer

#394 feat(bindings): update contract bindings
  bindings/.githead
  bindings/gen_taiko_l2.go
Labels: type.enhancement, area.client

#395 feat(prover): always use the oracle prover private key when an oracle…
  prover/prover.go
Labels: type.enhancement, area.client, area.client.prover

#396 fix(proposer): fix proposing fee initialization
  proposer/prover_selector/eth_fee_eoa_selector.go
Labels: area.client, area.client.proposer

#400 feat(proposer): update prover endpoint scheme check
  proposer/prover_selector/eth_fee_eoa_selector.go
Labels: type.enhancement, area.client, area.client.proposer

#402 feat(prover): release capacity when the corresponding local proof generation is canceled
  prover/prover.go
Labels: type.enhancement, area.client, area.client.prover

#406 feat(prover_selector): check prover's token balance
  pkg/rpc/utils.go
  proposer/prover_selector/eth_fee_eoa_selector.go
  proposer/prover_selector/eth_fee_eoa_selector_test.go
  prover/prover.go
  prover/server/api.go
  prover/server/server.go
  prover/server/server_test.go
  testutils/helper.go
Labels: type.enhancement, area.client, area.client.prover

#407 fix(prover): prover rpc didnt have taiko token address
  .github/workflows/test.yml
  cmd/flags/prover.go
  integration_test/entrypoint.sh
  integration_test/nodes/deployments/.gitkeep
  integration_test/nodes/init.sh
  prover/config.go
  prover/prover.go
Labels: area.client, area.client.prover

#409 fix(test): fix config tests
  driver/config_test.go
  proposer/config_test.go
  prover/config_test.go
Labels: area.client

#410 fix(ci): fix workflow errors
  .github/workflows/test.yml
  integration_test/nodes/init.sh
Labels: area.client, type.test

#411 feat(prover): increase `gasTipCap` when resending `TaikoL1.proveBlock` transactions
  cmd/flags/prover.go
  pkg/rpc/utils.go
  proposer/proposer.go
  prover/config.go
  prover/config_test.go
  prover/proof_submitter/util.go
  prover/proof_submitter/util_test.go
  prover/proof_submitter/valid_proof_submitter.go
  prover/proof_submitter/valid_proof_submitter_test.go
  prover/prover.go
  prover/prover_test.go
Labels: type.enhancement, area.client, area.client.prover

#389 feat(prover): use httptest.Server to simplify the prover web server test code
  prover/server/api_test.go
  prover/server/server.go
  prover/server/server_test.go
Labels: area.client.prover, type.test

#415 feat(prover): check `transition.blockHash` before proof generation
  pkg/rpc/utils.go
  prover/prover.go
Labels: type.enhancement, area.client, area.client.prover
