Repository taikoxyz/taiko-client, pull requests merged in 2023-04, with the labels that each got.

#185 feat(all): update client softwares based on the new protocol upgrade
  .github/workflows/test.yml
  .golangci.yml
  bindings/.githead
  bindings/constant.go
  bindings/encoding/custom_error_test.go
  bindings/encoding/input.go
  bindings/encoding/input_test.go
  bindings/encoding/struct.go
  bindings/encoding/struct_test.go
  bindings/gen_taiko_l1.go
  bindings/gen_taiko_l2.go
  cmd/flags/driver.go
  driver/anchor_tx_constructor/anchor_tx_constructor.go
  driver/anchor_tx_constructor/anchor_tx_constructor_test.go
  driver/chain_syncer/beaconsync/syncer.go
  driver/chain_syncer/calldata/syncer.go
  driver/chain_syncer/calldata/syncer_test.go
  driver/chain_syncer/chain_syncer.go
  driver/chain_syncer/chain_syncer_test.go
  driver/config.go
  driver/config_test.go
  driver/driver.go
  driver/driver_test.go
  driver/state/state.go
  go.mod
  go.sum
  integration_test/entrypoint.sh
  integration_test/nodes/docker-compose.yml
  integration_test/nodes/init.sh
  pkg/chain_iterator/block_batch_iterator_test.go
  pkg/jwt/jwt.go
  pkg/rpc/client.go
  pkg/rpc/dial.go
  pkg/rpc/dial_test.go
  pkg/rpc/engine.go
  pkg/rpc/engine_test.go
  pkg/rpc/methods.go
  pkg/rpc/subscription.go
  pkg/rpc/subscription_test.go
  pkg/rpc/utils.go
  pkg/tx_list_validator/tx_list_validator.go
  pkg/tx_list_validator/tx_list_validator_test.go
  proposer/proposer.go
  proposer/proposer_test.go
  prover/anchor_tx_validator/anchor_tx_validator.go
  prover/proof_producer/zkevm_rpcd_producer.go
  prover/proof_producer/zkevm_rpcd_producer_test.go
  prover/proof_submitter/invalid_proof_submitter.go
  prover/proof_submitter/invalid_proof_submitter_test.go
  prover/proof_submitter/valid_proof_submitter.go
  prover/proof_submitter/valid_proof_submitter_test.go
  prover/prover.go
  prover/prover_test.go
  testutils/helper.go
  testutils/interfaces.go
  testutils/suite.go
  version/version.go
Labels: client, prover, driver, proposer

#188 feat(driver): changes based on protocol L2 EIP-1559 design
  .github/workflows/test.yml
  bindings/.githead
  bindings/constant.go
  bindings/encoding/input.go
  bindings/gen_taiko_l1.go
  bindings/gen_taiko_l2.go
  driver/anchor_tx_constructor/anchor_tx_constructor.go
  driver/anchor_tx_constructor/anchor_tx_constructor_test.go
  driver/chain_syncer/calldata/syncer.go
  driver/driver_test.go
  driver/signer/fixed_k_signer_test.go
  go.mod
  go.sum
  integration_test/entrypoint.sh
  integration_test/nodes/init.sh
  pkg/rpc/methods_test.go
  proposer/config_test.go
  proposer/proposer.go
  proposer/proposer_test.go
  prover/anchor_tx_validator/anchor_tx_validator.go
  prover/anchor_tx_validator/anchor_tx_validator_test.go
  prover/proof_producer/dummy_producer_test.go
  prover/proof_producer/zkevm_rpcd_producer_test.go
  prover/proof_submitter/util.go
  prover/proof_submitter/util_test.go
  prover/proof_submitter/valid_proof_submitter.go
  prover/proof_submitter/valid_proof_submitter_test.go
  prover/prover.go
  testutils/helper.go
Labels: client, driver, proposer

#191 chore(bindings): update contract bindings
  .github/workflows/test.yml
  bindings/.githead
  bindings/encoding/input.go
  bindings/encoding/input_test.go
  bindings/encoding/struct.go
  bindings/gen_taiko_l1.go
  bindings/gen_taiko_l2.go
  driver/anchor_tx_constructor/anchor_tx_constructor.go
  driver/chain_syncer/calldata/syncer.go
  integration_test/entrypoint.sh
  integration_test/nodes/init.sh
  prover/proof_submitter/valid_proof_submitter.go
  testutils/suite.go
Labels: client

#192 chore(workflow): update workflow yaml
  .github/workflows/hive-test-result.yml
  .github/workflows/hive.yml
  .github/workflows/test.yml
Labels: client, ci

#193 feat(driver): update `anchorGasCost`
  bindings/.githead
  bindings/gen_taiko_l1.go
  bindings/gen_taiko_l2.go
  driver/anchor_tx_constructor/anchor_tx_constructor.go
  driver/anchor_tx_constructor/anchor_tx_constructor_test.go
  driver/chain_syncer/calldata/syncer.go
  integration_test/nodes/init.sh
  pkg/rpc/engine.go
  scripts/gen_bindings.sh
  testutils/helper.go
Labels: client, driver

#195 test(ci): fix workflow errors
  driver/anchor_tx_constructor/anchor_tx_constructor.go
  driver/anchor_tx_constructor/anchor_tx_constructor_test.go
  driver/chain_syncer/calldata/syncer.go
  integration_test/entrypoint.sh
  integration_test/nodes/init.sh
Labels: client, test

#194 feat(prover): oracle prover
  bindings/encoding/input.go
  bindings/encoding/input_test.go
  cmd/flags/prover.go
  driver/anchor_tx_constructor/anchor_tx_constructor_test.go
  prover/anchor_tx_validator/anchor_tx_validator_test.go
  prover/config.go
  prover/config_test.go
  prover/proof_producer/oracle_proof_producer.go
  prover/proof_producer/oracle_proof_producer_test.go
  prover/proof_submitter/util.go
  prover/proof_submitter/util_test.go
  prover/proof_submitter/valid_proof_submitter.go
  prover/proof_submitter/valid_proof_submitter_test.go
  prover/prover.go
Labels: client, prover

#199 feat(prover): add oracle proof submission delay
  prover/proof_producer/oracle_proof_producer.go
  prover/prover.go
Labels: client, prover
