Repository taikoxyz/taiko-client, pull requests merged in 2023-07, with the labels that each got.

#292 feat(prover): Pos impl
  .github/workflows/test.yml
  bindings/.githead
  bindings/encoding/struct.go
  bindings/gen_taiko_l1.go
  bindings/gen_taiko_prover_pool_l1.go
  cmd/flags/prover.go
  driver/chain_syncer/calldata/syncer.go
  driver/driver.go
  driver/state/state.go
  integration_test/entrypoint.sh
  integration_test/nodes/init.sh
  pkg/rpc/client.go
  pkg/rpc/client_test.go
  pkg/rpc/methods.go
  pkg/rpc/subscription.go
  pkg/rpc/subscription_test.go
  pkg/rpc/utils.go
  proposer/proposer.go
  prover/config.go
  prover/config_test.go
  prover/proof_producer/special_proof_producer.go
  prover/proof_producer/zkevm_rpcd_producer.go
  prover/proof_submitter/util.go
  prover/proof_submitter/util_test.go
  prover/proof_submitter/valid_proof_submitter.go
  prover/proof_submitter/valid_proof_submitter_test.go
  prover/prover.go
  prover/prover_test.go
  scripts/gen_bindings.sh
  testutils/helper.go
  testutils/suite.go
Labels: status.blocked, area.client.prover, meta.alpha-4

#305 feat(prover): add some prover logs
  bindings/.githead
  pkg/rpc/utils.go
  prover/prover.go
Labels: type.enhancement, area.client, area.client.prover, meta.alpha-4

#306 fix(prover): fix an unlock issue
  prover/prover.go
Labels: type.bug, area.client, area.client.prover, meta.alpha-4

#307 chore(bindings): update protocol bindings
  bindings/.githead
  bindings/gen_taiko_l1.go
  bindings/gen_taiko_prover_pool_l1.go
  testutils/suite.go
Labels: area.client, meta.alpha-4

#309 fix(prover): fix a fork choice checking issue
  prover/prover.go
Labels: type.bug, area.client, area.client.prover

#311 feat(prover): generate an oracle proof if incoming proof is incorrect
  prover/prover.go
Labels: type.enhancement, area.client, area.client.prover, meta.alpha-4

#315 feat(cmd): update `proveUnassignedBlocks` flag name
  cmd/flags/prover.go
Labels: area.client, area.client.prover, meta.alpha-4

#316 feat(prover): update open proving blocks check
  prover/prover.go
Labels: type.enhancement, area.client, area.client.prover, meta.alpha-4

#319 feat(prover): add some prover metrics for Alpha-4 protocol
  metrics/metrics.go
  proposer/proposer.go
  prover/prover.go
Labels: type.enhancement, area.client, area.client.prover, meta.alpha-4

#320 feat(prover): add `--oracleProofSubmissionDelay` flag
  cmd/flags/prover.go
  prover/config.go
  prover/proof_producer/special_proof_producer.go
  prover/prover.go
Labels: type.enhancement, area.client, area.client.prover, meta.alpha-4

#321 fix(ci): fix workflow `pnpm install` error
  .github/workflows/test.yml
  cmd/flags/prover.go
Labels: area.client

#322 feat(proposer): handle transaction replacement underpriced error
  cmd/flags/proposer.go
  pkg/rpc/utils.go
  pkg/rpc/utils_test.go
  proposer/config.go
  proposer/config_test.go
  proposer/proposer.go
  proposer/proposer_test.go
  testutils/suite.go
Labels: type.enhancement, area.client, area.client.proposer

#325 feat(driver): improve `ProcessL1Blocks` for reorg handling
  driver/chain_syncer/calldata/syncer.go
  pkg/rpc/methods.go
Labels: area.client, area.client.driver, meta.alpha-4

#326 feat(proposer): add `--txpool.localsOnly` flag
  cmd/flags/proposer.go
  proposer/config.go
  proposer/proposer.go
Labels: type.enhancement, area.client, area.client.proposer

#327 feat(prover): update `l1Current` cursor to record L1 hash
  driver/chain_syncer/calldata/syncer.go
  driver/driver_test.go
  pkg/rpc/methods.go
  pkg/rpc/methods_test.go
  prover/proof_producer/proof_producer.go
  prover/proof_producer/special_proof_producer.go
  prover/proof_submitter/util.go
  prover/proof_submitter/util_test.go
  prover/proof_submitter/valid_proof_submitter.go
  prover/prover.go
Labels: type.enhancement, area.client, area.client.prover

#328 test(driver): add more unit tests
  .github/workflows/test.yml
  driver/chain_syncer/calldata/syncer.go
  driver/driver.go
  driver/driver_test.go
  driver/state/state.go
  driver/state/state_test.go
  pkg/rpc/methods.go
  pkg/rpc/methods_test.go
  pkg/rpc/utils.go
  proposer/proposer.go
  prover/proof_producer/special_proof_producer.go
  prover/proof_submitter/valid_proof_submitter.go
  prover/prover.go
Labels: area.client, area.client.driver, type.test

#329 feat(pkg): optimize `CheckL1ReorgFromL1Cursor`
  pkg/rpc/methods.go
  pkg/rpc/methods_test.go
  prover/prover.go
Labels: type.enhancement, area.client

#333 feat(prover): add `--proofSubmissionMaxRetry` flag
  cmd/flags/prover.go
  prover/config.go
  prover/proof_submitter/util.go
  prover/proof_submitter/util_test.go
  prover/proof_submitter/valid_proof_submitter.go
  prover/proof_submitter/valid_proof_submitter_test.go
  prover/prover.go
Labels: type.enhancement, area.client, area.client.prover, meta.alpha-4

#334 feat(pkg): improve archive node check
  pkg/rpc/client.go
  pkg/rpc/methods.go
  pkg/rpc/utils.go
  proposer/proposer.go
Labels: type.enhancement, area.client, meta.alpha-3, meta.alpha-4

#338 feat(prover): changes based on `proofVerifer` protocol updates
  bindings/.githead
  bindings/encoding/input.go
  bindings/encoding/input_test.go
  bindings/encoding/struct.go
  bindings/gen_taiko_l1.go
  prover/proof_producer/special_proof_producer.go
  prover/proof_producer/special_proof_producer_test.go
  prover/proof_submitter/valid_proof_submitter.go
  prover/prover.go
Labels: type.enhancement, area.client, area.client.prover, meta.alpha-n
