Repository taikoxyz/taiko-client, pull requests merged in 2023-06, with the labels that each got.

#254 feat(proposer): propose multiple L2 blocks in one L1 block
  go.mod
  go.sum
  proposer/proposer.go
  testutils/helper.go
  testutils/interfaces.go
Labels: type.enhancement, area.client, area.client.proposer

#255 feat(bindings): update bindings with EthDeposit changes
  bindings/.githead
  bindings/encoding/input.go
  bindings/encoding/input_test.go
  bindings/gen_taiko_l1.go
  driver/chain_syncer/calldata/syncer.go
Labels: area.client, meta.alpha-3

#256 feat(driver): optimize reorg handling && add more tests
  bindings/.githead
  driver/chain_syncer/calldata/syncer.go
  driver/driver_test.go
  pkg/rpc/methods.go
  prover/prover.go
  testutils/helper.go
Labels: type.enhancement, area.client, area.client.prover, area.client.driver, type.test

#258 feat(proposer): add `--maxProposedTxListsPerEpoch` flag
  cmd/flags/proposer.go
  driver/chain_syncer/calldata/syncer_test.go
  driver/driver_test.go
  proposer/config.go
  proposer/proposer.go
  proposer/proposer_test.go
  prover/proof_submitter/valid_proof_submitter_test.go
  prover/prover_test.go
Labels: area.client, area.client.proposer

#260 feat(proposer): cherry-pick changes in #258 into grimsvotn branch
  cmd/flags/proposer.go
  driver/chain_syncer/calldata/syncer_test.go
  driver/driver_test.go
  proposer/config.go
  proposer/proposer.go
  proposer/proposer_test.go
  prover/proof_submitter/valid_proof_submitter_test.go
  prover/prover_test.go
Labels: area.client, area.client.proposer, meta.alpha-3

#262 feat(driver): optimize error handling for `CalldataSyncer`
  driver/chain_syncer/calldata/syncer.go
  driver/chain_syncer/calldata/syncer_test.go
  driver/driver.go
  pkg/chain_iterator/block_batch_iterator.go
  pkg/rpc/dial.go
Labels: type.enhancement, area.client, area.client.driver

#263 feat(pkg): update logs when dialing ethclients
  pkg/rpc/dial.go
Labels: type.enhancement, area.client

#264 feat(all): improve proposer && prover logs
  driver/chain_syncer/calldata/syncer.go
  driver/state/state.go
  prover/proof_submitter/util.go
  prover/proof_submitter/valid_proof_submitter.go
  prover/prover.go
Labels: type.enhancement, area.client, area.client.prover, area.client.proposer, meta.alpha-3

#266 feat(prover): improve `onBlockProposed` listener
  pkg/rpc/methods.go
  proposer/proposer.go
  prover/prover.go
Labels: type.enhancement, area.client

#271 chore(all): update error checks
  cmd/flags/proposer.go
  pkg/chain_iterator/block_batch_iterator.go
  pkg/rpc/methods.go
  proposer/config.go
  proposer/proposer.go
  prover/prover.go
Labels: type.enhancement, area.client

#272 fix(prover): fix a `targetDelay` calculation issue
  prover/proof_submitter/util.go
Labels: type.bug, area.client, area.client.prover

#275 feat(metrics): add `ProverNormalProofRewardGauge` metrics
  metrics/metrics.go
  prover/prover.go
  version/version.go
Labels: type.enhancement, area.client

#277 fix(prover): ensure L2 reorg finished before generating proofs && add `verificationCheckTicker`
  prover/prover.go
  prover/prover_test.go
Labels: type.bug, type.enhancement, area.client, area.client.prover, meta.alpha-3

#280 feat(prover): improve retry policy for prover
  prover/proof_submitter/valid_proof_submitter.go
  prover/prover.go
Labels: type.enhancement, area.client, area.client.prover

#284 fix(pkg): minor fixes for `WaitReceipt`
  pkg/rpc/utils.go
Labels: area.client

#281 feat(flags): add retry related flags
  cmd/flags/common.go
  driver/config.go
  driver/driver.go
  pkg/chain_iterator/block_batch_iterator.go
  pkg/rpc/client.go
  pkg/rpc/client_test.go
  pkg/rpc/dial.go
  pkg/rpc/dial_test.go
  proposer/config.go
  proposer/proposer.go
  prover/config.go
  prover/proof_producer/zkevm_rpcd_producer.go
  prover/proof_submitter/util.go
  prover/proof_submitter/util_test.go
  prover/proof_submitter/valid_proof_submitter.go
  prover/proof_submitter/valid_proof_submitter_test.go
  prover/prover.go
  testutils/suite.go
Labels: type.enhancement, area.client, area.client.prover, area.client.driver, area.client.proposer

#279 feat(all): disable no beacon client seen warning
  driver/driver.go
  pkg/rpc/engine.go
  pkg/rpc/engine_test.go
Labels: area.client, meta.alpha-n

#288 feat(driver): improve sync progress information
  driver/chain_syncer/beaconsync/progress_tracker.go
  driver/chain_syncer/beaconsync/syncer.go
  driver/chain_syncer/chain_syncer.go
  driver/chain_syncer/chain_syncer_test.go
Labels: type.enhancement, area.client, area.client.driver

#289 feat(driver): improve error messages
  driver/chain_syncer/beaconsync/syncer.go
Labels: type.enhancement, area.client, area.client.driver

#294 fix(driver): fix geth lag to verified block when syncing
  driver/chain_syncer/beaconsync/syncer.go
  driver/chain_syncer/chain_syncer.go
  driver/chain_syncer/chain_syncer_test.go
Labels: area.client, area.client.driver

#296 feat(driver): check the mismatch of last verified block
  driver/chain_syncer/calldata/syncer.go
Labels: type.enhancement, area.client, area.client.driver, meta.alpha-3

#297 fix(driver): fix an issue in `checkLastVerifiedBlockMismatch`
  driver/chain_syncer/calldata/syncer.go
  driver/chain_syncer/chain_syncer.go
  driver/state/state.go
Labels: area.client.driver

#298 fix(driver): fix a P2P sync issue
  driver/chain_syncer/beaconsync/syncer.go
Labels: type.bug, area.client, area.client.driver, meta.alpha-3

#290 feat(all): update bindings && integrate new circuits for L3
  .github/workflows/test.yml
  bindings/.githead
  bindings/gen_taiko_l1.go
  proposer/proposer.go
  prover/proof_producer/dummy_producer.go
  prover/proof_producer/proof_producer.go
  prover/proof_producer/zkevm_cmd_producer.go
  prover/proof_producer/zkevm_rpcd_producer.go
  prover/proof_producer/zkevm_rpcd_producer_test.go
  prover/proof_submitter/util.go
  prover/proof_submitter/valid_proof_submitter_test.go
  prover/prover.go
  testutils/helper.go
  testutils/suite.go
  testutils/testdata/zkchain_proof.json
Labels: area.client, area.client.prover
