Repository taikoxyz/taiko-client, pull requests merged in 2023-02, with the labels that each got.

#135 chore(ci): add hive test to PR actions
  .github/workflows/hive-test-result.yml
  .github/workflows/hive.yml
Labels: client, ci

#137 fix: fix security issue caused by btcd not check witness size
  go.mod
  go.sum
Labels: bug, client

#138 test(ci): fix two typos in integration test scripts
  integration_test/entrypoint.sh
  integration_test/nodes/init.sh
Labels: client, ci

#140 chore(protocol): update bindings
  bindings/.githead
  bindings/gen_taiko_l1.go
  bindings/gen_taiko_l2.go
  prover/prover.go
Labels: client, bindings

#142 feat(prover): update invalid transactions list hints
  pkg/tx_list_validator/tx_list_validator.go
  pkg/tx_list_validator/tx_list_validator_test.go
Labels: client, prover, bindings

#143 feat(bindings): update bindings, `TaikoL1.getStateVariables` returns a struct
  bindings/.githead
  bindings/gen_taiko_l1.go
  bindings/gen_taiko_l2.go
  bindings/struct.go
  driver/driver.go
  driver/state/state.go
  pkg/rpc/methods.go
  pkg/rpc/utils.go
  prover/prover.go
Labels: client, bindings

#144 chore(bindings): update protocol bindings
  bindings/.githead
  bindings/gen_taiko_l1.go
  bindings/gen_taiko_l2.go
  version/verison.go
Labels: client, bindings

#145 feat(prover): improve the check for whether the current block still needs a new proof
  prover/prover.go
Labels: enhancement, client, prover

#146 fix(prover): fix some typos
  prover/proof_producer/zkevm_rpcd_producer.go
Labels: client

#121 feat(prover): update `ZkevmRpcdProducer` to make it connecting to a real proverd service
  cmd/flags/prover.go
  prover/config.go
  prover/proof_producer/zkevm_cmd_producer.go
  prover/proof_producer/zkevm_cmd_producer_test.go
  prover/proof_producer/zkevm_rpcd_producer.go
  prover/proof_producer/zkevm_rpcd_producer_test.go
  prover/proof_submitter/invalid_proof_submitter.go
  prover/proof_submitter/valid_proof_submitter.go
  prover/prover.go
  testutils/testdata/block-5_proof.json
  testutils/testdata/zkchain_proof.json
Labels: enhancement, client, prover

#151 chore(bindings): update contract bindings
  bindings/.githead
  bindings/gen_taiko_l1.go
  bindings/gen_taiko_l2.go
  prover/proof_submitter/util.go
Labels: client, bindings

#153 feat(all): update contract bindings && some improvements based on Alex's feedback
  bindings/.githead
  bindings/encoding/input.go
  bindings/gen_taiko_l1.go
  cmd/flags/prover.go
  driver/chain_syncer/beaconsync/progress_tracker.go
  driver/chain_syncer/beaconsync/progress_tracker_test.go
  driver/chain_syncer/beaconsync/syncer.go
  driver/chain_syncer/calldata/syncer.go
  driver/chain_syncer/calldata/syncer_test.go
  driver/chain_syncer/chain_syncer.go
  proposer/proposer.go
  prover/config.go
  prover/proof_submitter/valid_proof_submitter_test.go
  prover/prover.go
Labels: enhancement, client, bindings

#158 feat(ci): recreate hive comment
  .github/workflows/hive-test-result.yml
Labels: client, ci

#157 fix(proposer): fix a proposer nonce order issue
  pkg/rpc/methods.go
Labels: client, proposer

#162 fix(driver): fix protocol sync status check bug
  driver/state/state.go
  driver/state/state_test.go
Labels: bug, client, driver

#163 feat: check solidity custom errors
  bindings/.githead
  bindings/error/error.go
  bindings/gen_taiko_l1.go
  bindings/gen_taiko_l2.go
  pkg/rpc/subscription.go
  version/version.go
Labels: client, bindings

#159 feat(proposer): remove `poolContentSplitter` in proposer
  bindings/.githead
  bindings/encoding/input.go
  bindings/encoding/struct.go
  bindings/gen_taiko_l1.go
  bindings/gen_taiko_l2.go
  pkg/rpc/methods.go
  pkg/rpc/methods_test.go
  proposer/pool_content_splitter.go
  proposer/pool_content_splitter_test.go
  proposer/proposer.go
  prover/proof_producer/dummy_producer.go
  prover/proof_producer/dummy_producer_test.go
  prover/proof_producer/proof_producer.go
  prover/proof_producer/zkevm_cmd_producer.go
  prover/proof_producer/zkevm_rpcd_producer.go
  prover/proof_producer/zkevm_rpcd_producer_test.go
  prover/proof_submitter/invalid_proof_submitter.go
  prover/proof_submitter/valid_proof_submitter.go
  prover/proof_submitter/valid_proof_submitter_test.go
  prover/prover.go
Labels: client, proposer
