Repository taikoxyz/taiko-client, pull requests merged in 2023-05, with the labels that each got.

#206 chore(bindings): update contract bindings
  bindings/.githead
  bindings/gen_taiko_l1.go
  bindings/gen_taiko_l2.go
  driver/chain_syncer/chain_syncer.go
  driver/state/state.go
  pkg/rpc/subscription.go
  pkg/rpc/subscription_test.go
Labels: area.client

#208 chore(ci): update github workflow && contract bindings
  .github/workflows/test.yml
  bindings/.githead
  bindings/gen_taiko_l1.go
Labels: area.client

#205 feat(proposer): check tko balance and fee before proposing
  proposer/proposer.go
Labels: type.enhancement, area.client, area.client.proposer

#209 feat(prover): implementing --graffiti tag for prover as input to block evidence
  cmd/flags/prover.go
  prover/config.go
  prover/config_test.go
  prover/proof_submitter/valid_proof_submitter.go
  prover/proof_submitter/valid_proof_submitter_test.go
  prover/prover.go
Labels: area.client, area.client.prover, meta.alpha-3

#210 fix(driver): fix `GetBasefee` parameters
  .github/workflows/test.yml
  bindings/.githead
  bindings/gen_taiko_l1.go
  driver/chain_syncer/calldata/syncer.go
Labels: type.bug, area.client, area.client.driver

#207 feat(prover): cancel proof if it becomes verified
  .github/workflows/test.yml
  bindings/.githead
  bindings/gen_taiko_l1.go
  cmd/flags/prover.go
  metrics/metrics.go
  prover/config.go
  prover/config_test.go
  prover/proof_producer/dummy_producer.go
  prover/proof_producer/oracle_proof_producer.go
  prover/proof_producer/proof_producer.go
  prover/proof_producer/zkevm_cmd_producer.go
  prover/proof_producer/zkevm_rpcd_producer.go
  prover/proof_submitter/interface.go
  prover/proof_submitter/valid_proof_submitter.go
  prover/proof_submitter/valid_proof_submitter_test.go
  prover/prover.go
  prover/prover_test.go
Labels: type.enhancement, area.client, area.client.prover

#211 fix(prover): fix some oracle proof submission issues
  cmd/flags/prover.go
  prover/proof_producer/oracle_proof_producer.go
  prover/proof_producer/oracle_proof_producer_test.go
  prover/proof_submitter/util.go
  prover/proof_submitter/valid_proof_submitter.go
  prover/prover.go
Labels: type.bug, area.client, area.client.prover

#214 feat(prover): special prover (system/oracle)
  bindings/.githead
  bindings/gen_taiko_l1.go
  bindings/gen_taiko_l2.go
  cmd/flags/prover.go
  integration_test/entrypoint.sh
  integration_test/nodes/init.sh
  prover/config.go
  prover/config_test.go
  prover/proof_producer/special_proof_producer.go
  prover/proof_producer/special_proof_producer_test.go
  prover/proof_producer/zkevm_cmd_producer.go
  prover/proof_producer/zkevm_rpcd_producer.go
  prover/proof_submitter/util.go
  prover/proof_submitter/util_test.go
  prover/proof_submitter/valid_proof_submitter.go
  prover/proof_submitter/valid_proof_submitter_test.go
  prover/prover.go
  prover/prover_test.go
Labels: area.client, area.client.prover, meta.alpha-3

#215 feat(prover): update skip checking for system prover
  prover/prover.go
Labels: type.enhancement, area.client, area.client.prover, meta.alpha-3

#217 feat(prover): update `ZkevmRpcdProducer` to integrate new circuits
  cmd/flags/driver.go
  driver/config.go
  driver/config_test.go
  driver/driver.go
  proposer/proposer.go
  prover/proof_producer/proof_producer.go
  prover/proof_producer/zkevm_rpcd_producer.go
  prover/proof_submitter/valid_proof_submitter.go
Labels: area.client, area.client.prover, meta.alpha-3

#221 feat(prover): remove submission delay when running as a system prover
  prover/proof_producer/special_proof_producer.go
Labels: type.enhancement, area.client, area.client.prover

#224 feat(proposer): add a new metric to track block fee
  driver/driver.go
  metrics/metrics.go
  pkg/rpc/utils.go
  pkg/rpc/utils_test.go
  proposer/proposer.go
  prover/proof_producer/special_proof_producer.go
  prover/proof_submitter/valid_proof_submitter.go
  prover/prover.go
Labels: type.enhancement, area.client, area.client.proposer

#226 feat(prover): remove the unnecessary special proof delay
  prover/proof_producer/special_proof_producer.go
  prover/prover.go
  version/version.go
Labels: type.enhancement, area.client, area.client.prover

#225 feat(proposer): add a `--minimalBlockGasLimit` flag to mitigate the potential gas estimation issue
  cmd/flags/proposer.go
  proposer/config.go
  proposer/proposer.go
Labels: type.enhancement, area.client, area.client.proposer

#227 feat(prover): updates based on protocol `proofTimeTarget` changes
  bindings/.githead
  bindings/gen_taiko_l1.go
  integration_test/nodes/init.sh
  prover/proof_producer/special_proof_producer.go
  prover/prover.go
Labels: type.enhancement, area.client, area.client.prover

#228 feat: update some logic and add more tests based on #216
  driver/chain_syncer/calldata/syncer.go
  driver/chain_syncer/calldata/syncer_test.go
  integration_test/nodes/docker-compose.yml
Labels: type.enhancement, area.client, area.client.prover

#216 fix(driver): Handle reorg
  Makefile
  driver/chain_syncer/calldata/syncer.go
  driver/chain_syncer/calldata/syncer_test.go
  driver/chain_syncer/chain_syncer.go
  driver/state/l1_current.go
  driver/state/l1_current_test.go
  integration_test/nodes/docker-compose.yml
  pkg/chain_iterator/block_batch_iterator.go
  pkg/chain_iterator/block_batch_iterator_test.go
  pkg/chain_iterator/event_iterator/block_proposed_iterator.go
  pkg/chain_iterator/event_iterator/block_proven_iterator.go
Labels: type.enhancement, area.client, area.client.driver, meta.alpha-3

#230 chore(bindings): update protocol contract bindings
  bindings/.githead
  bindings/gen_taiko_l1.go
Labels: area.client

#233 feat(all): rename `treasure` to `treasury`
  bindings/.githead
  bindings/encoding/input.go
  bindings/gen_taiko_l1.go
  integration_test/nodes/init.sh
Labels: area.client

#232 feat(prover): normal prover should wait targetProofTime before submitting proofs
  bindings/.githead
  prover/proof_producer/dummy_producer.go
  prover/proof_producer/proof_producer.go
  prover/proof_producer/special_proof_producer.go
  prover/proof_producer/zkevm_rpcd_producer.go
  prover/proof_producer/zkevm_rpcd_producer_test.go
  prover/prover.go
Labels: area.client, area.client.prover, meta.alpha-3

#234 test(driver): add `depositsRoot` tests
  driver/chain_syncer/calldata/syncer_test.go
  testutils/helper.go
Labels: area.client, area.client.driver, type.test

#236 test(driver): add more tests about withdrawals && treasury
  driver/chain_syncer/calldata/syncer_test.go
  integration_test/entrypoint.sh
  integration_test/nodes/init.sh
  prover/proof_producer/zkevm_rpcd_producer_test.go
  testutils/helper.go
Labels: area.client, area.client.driver, type.test

#237 feat(all): update protocol bindings and some related changes
  bindings/.githead
  bindings/encoding/input.go
  bindings/gen_taiko_l1.go
  driver/chain_syncer/calldata/syncer.go
  driver/chain_syncer/calldata/syncer_test.go
  pkg/rpc/methods.go
  pkg/tx_list_validator/tx_list_validator.go
  pkg/tx_list_validator/tx_list_validator_test.go
  proposer/proposer.go
  prover/prover.go
  testutils/helper.go
Labels: area.client, type.test

#240 feat(proof_producer): update request parameters based on new circuits changes
  prover/proof_producer/zkevm_rpcd_producer.go
  prover/proof_producer/zkevm_rpcd_producer_test.go
  prover/prover.go
Labels: type.enhancement, area.client.prover, meta.alpha-3

#243 feat(bindings): update go contract bindings
  bindings/.githead
  bindings/gen_taiko_l1.go
Labels: area.client

#244 feat(pkg): do not return error when genesis block not found
  pkg/rpc/methods.go
Labels: area.client

#245 test(driver): fix workflow errors
  integration_test/entrypoint.sh
  integration_test/nodes/init.sh
Labels: area.client, type.test

#246 fix(flag): add a missing driver flag to configuration
  cmd/flags/driver.go
Labels: area.client.driver

#247 chore(deps): update taiko-geth version
  bindings/encoding/struct.go
  bindings/encoding/struct_test.go
  driver/chain_syncer/beaconsync/syncer.go
  go.mod
  go.sum
Labels: area.client

#239 chore(bindings): Add TaikoData.EthDeposits[] depositsProcessed to blockMetaDataComponents and tests to accompany
  .github/workflows/test.yml
  bindings/encoding/input.go
  bindings/encoding/input_test.go
  bindings/encoding/struct_test.go
Labels: area.client, type.test

#248 feat(prover): add `--expectedReward` flag
  .github/workflows/test.yml
  bindings/encoding/struct.go
  cmd/flags/prover.go
  pkg/rpc/utils.go
  prover/config.go
  prover/proof_producer/dummy_producer.go
  prover/proof_producer/proof_producer.go
  prover/proof_producer/special_proof_producer.go
  prover/proof_producer/zkevm_rpcd_producer.go
  prover/proof_producer/zkevm_rpcd_producer_test.go
  prover/proof_submitter/util.go
  prover/proof_submitter/util_test.go
  prover/proof_submitter/valid_proof_submitter.go
  prover/proof_submitter/valid_proof_submitter_test.go
  prover/prover.go
Labels: type.enhancement, area.client, area.client.prover, meta.alpha-3

#252 feat(all): check L1 reorg before each operation
  driver/chain_syncer/calldata/syncer.go
  driver/chain_syncer/calldata/syncer_test.go
  pkg/chain_iterator/block_batch_iterator.go
  pkg/chain_iterator/block_batch_iterator_test.go
  pkg/chain_iterator/event_iterator/block_proposed_iterator.go
  pkg/chain_iterator/event_iterator/block_proven_iterator.go
  pkg/rpc/methods.go
  prover/proof_submitter/util.go
  prover/proof_submitter/util_test.go
  prover/proof_submitter/valid_proof_submitter.go
  prover/prover.go
Labels: type.enhancement, area.client, area.client.prover, area.client.driver, meta.alpha-3

#253 fix(repo): fix openAI review workflow
  .github/workflows/openai-review.yml
Labels: option.review-by-ai
