Repository taikoxyz/taiko-client, pull requests merged in 2023-08, with the labels that each got.

#337 feat(pkg): introduce `EthClientWithDefaultTimeout`
  bindings/.githead
  cmd/flags/common.go
  driver/chain_syncer/beaconsync/progress_tracker.go
  driver/config.go
  driver/config_test.go
  driver/driver.go
  pkg/chain_iterator/block_batch_iterator.go
  pkg/chain_iterator/event_iterator/block_proposed_iterator.go
  pkg/chain_iterator/event_iterator/block_proven_iterator.go
  pkg/rpc/client.go
  pkg/rpc/engine.go
  pkg/rpc/ethclient.go
  pkg/rpc/subscription.go
  pkg/rpc/utils.go
  proposer/config.go
  proposer/config_test.go
  proposer/proposer.go
  prover/config.go
  prover/config_test.go
  prover/proof_submitter/util.go
  prover/prover.go
Labels: type.enhancement, area.client

#341 feat(proposer): update pool content query
  integration_test/nodes/docker-compose.yml
  pkg/rpc/methods.go
  pkg/tx_list_validator/tx_list_validator.go
  pkg/tx_list_validator/tx_list_validator_test.go
  proposer/proposer.go
Labels: type.enhancement, area.client, area.client.proposer, meta.alpha-n

#340 feat(driver): update `l1Current` check in `ProcessL1Blocks`
  driver/chain_syncer/calldata/syncer.go
Labels: type.enhancement, area.client, area.client.driver

#344 feat(proposer): use `TaikoConfig.blockMaxGasLimit` as proposed block gasLimit && remove some unused flags
  cmd/flags/proposer.go
  integration_test/nodes/docker-compose.yml
  proposer/config.go
  proposer/config_test.go
  proposer/proposer.go
  proposer/proposer_test.go
  prover/prover.go
Labels: type.enhancement, area.client, area.client.proposer

#346 feat(bindings): update go contract bindings
  .github/workflows/test.yml
  bindings/.githead
  bindings/gen_taiko_prover_pool_l1.go
  pkg/rpc/subscription.go
  prover/prover.go
Labels: area.client, meta.alpha-n

#347 feat(pkg): add default timeout for `GetStorageRoot`
  pkg/rpc/methods.go
  version/version.go
Labels: type.enhancement, area.client

#335 test(all): improve test coverage
  driver/anchor_tx_constructor/anchor_tx_constructor_test.go
  driver/chain_syncer/calldata/syncer_test.go
  driver/chain_syncer/chain_syncer_test.go
  driver/driver_test.go
  driver/state/l1_current_test.go
  driver/state/state_test.go
  pkg/rpc/client_test.go
  pkg/rpc/dial_test.go
  pkg/rpc/methods_test.go
  proposer/config_test.go
  proposer/proposer.go
  proposer/proposer_test.go
  prover/config_test.go
  prover/proof_producer/dummy_producer_test.go
Labels: area.client, type.test

#349 feat(proposer): add `--proposeBlockTxGasTipCap` flag
  cmd/flags/proposer.go
  proposer/config.go
  proposer/proposer.go
Labels: type.enhancement, area.client, area.client.proposer, meta.alpha-4

#356 fix(pkg): set more RPC context timeout
  driver/anchor_tx_constructor/anchor_tx_constructor.go
  pkg/rpc/client.go
  pkg/rpc/dial.go
  pkg/rpc/ethclient.go
  pkg/rpc/methods.go
  pkg/rpc/utils.go
Labels: type.enhancement, area.client

#357 feat(prover): prove block tx gas limit
  cmd/flags/prover.go
  prover/config.go
  prover/proof_submitter/valid_proof_submitter.go
  prover/proof_submitter/valid_proof_submitter_test.go
  prover/prover.go
Labels: type.enhancement, area.client, area.client.prover

#360 feat(bindings): update bindings && remove unused files
  Makefile
  bindings/.githead
  bindings/gen_taiko_l1.go
  bindings/gen_taiko_l2.go
  bindings/gen_taiko_prover_pool_l1.go
  driver/chain_syncer/calldata/syncer.go
  driver/chain_syncer/calldata/syncer_test.go
  go.mod
  go.sum
  prover/proof_submitter/merkle_proof.go
  prover/proof_submitter/merkle_proof_test.go
  prover/proof_submitter/util_test.go
  prover/proof_submitter/valid_proof_submitter_test.go
  prover/prover_test.go
Labels: area.client

#364 fix(prover): fix `maxRetry` configuration when submitting proofs
  prover/proof_submitter/util.go
Labels: area.client, area.client.prover

#353 test(all): increase test coverage
  driver/chain_syncer/calldata/syncer.go
  driver/chain_syncer/calldata/syncer_test.go
  driver/chain_syncer/chain_syncer_test.go
  driver/config_test.go
  pkg/chain_iterator/block_batch_iterator_test.go
  pkg/jwt/jwt_test.go
  pkg/rpc/client.go
  pkg/rpc/dial.go
  pkg/rpc/dial_test.go
  pkg/rpc/methods.go
  pkg/rpc/methods_test.go
  pkg/rpc/utils_test.go
  proposer/config_test.go
  proposer/proposer.go
  prover/config_test.go
  prover/prover.go
  prover/prover_test.go
Labels: area.client, type.test

#368 feat(all): offchain prover pool / alpha 5 tokenomics / bindings updates
  .github/workflows/test.yml
  bindings/.githead
  bindings/encoding/input.go
  bindings/encoding/input_test.go
  bindings/encoding/struct.go
  bindings/gen_taiko_l1.go
  bindings/gen_taiko_token.go
  cmd/flags/proposer.go
  cmd/flags/prover.go
  cmd/utils/sub_command.go
  driver/chain_syncer/calldata/syncer.go
  driver/chain_syncer/calldata/syncer_test.go
  driver/driver.go
  driver/driver_test.go
  go.mod
  go.sum
  integration_test/entrypoint.sh
  integration_test/nodes/init.sh
  pkg/rpc/client.go
  pkg/rpc/client_test.go
  pkg/rpc/methods.go
  pkg/rpc/utils.go
  pkg/tx_list_validator/tx_list_validator.go
  proposer/config.go
  proposer/config_test.go
  proposer/proposer.go
  proposer/proposer_test.go
  prover/config.go
  prover/config_test.go
  prover/http/propose_block.go
  prover/http/propose_block_test.go
  prover/http/routes.go
  prover/http/server.go
  prover/http/server_test.go
  prover/proof_producer/zkevm_rpcd_producer.go
  prover/proof_submitter/valid_proof_submitter_test.go
  prover/prover.go
  prover/prover_test.go
  scripts/gen_bindings.sh
  testutils/helper.go
  testutils/suite.go
Labels: area.client

#369 test(fix): fix helper method
  pkg/rpc/methods.go
Labels: area.client

#367 feat(all): update bindings based on latest tokenomics changes
  bindings/.githead
  bindings/encoding/input.go
  bindings/encoding/input_test.go
  bindings/encoding/struct.go
  bindings/encoding/struct_test.go
  bindings/gen_taiko_l1.go
  bindings/gen_taiko_l2.go
  bindings/gen_taiko_prover_pool_l1.go
  bindings/gen_taiko_token.go
  cmd/flags/proposer.go
  cmd/flags/prover.go
  cmd/utils/sub_command.go
  driver/chain_syncer/calldata/syncer.go
  driver/chain_syncer/calldata/syncer_test.go
  driver/chain_syncer/chain_syncer_test.go
  driver/driver.go
  driver/driver_test.go
  driver/state/state.go
  go.mod
  go.sum
  integration_test/entrypoint.sh
  integration_test/nodes/init.sh
  metrics/metrics.go
  pkg/rpc/client.go
  pkg/rpc/client_test.go
  pkg/rpc/methods.go
  pkg/rpc/methods_test.go
  pkg/rpc/subscription.go
  pkg/rpc/subscription_test.go
  pkg/rpc/utils.go
  pkg/tx_list_validator/tx_list_validator.go
  proposer/config.go
  proposer/config_test.go
  proposer/proposer.go
  proposer/proposer_test.go
  prover/config.go
  prover/config_test.go
  prover/http/propose_block.go
  prover/http/propose_block_test.go
  prover/http/routes.go
  prover/http/server.go
  prover/http/server_test.go
  prover/proof_producer/zkevm_rpcd_producer.go
  prover/proof_submitter/util_test.go
  prover/proof_submitter/valid_proof_submitter.go
  prover/proof_submitter/valid_proof_submitter_test.go
  prover/prover.go
  prover/prover_test.go
  scripts/gen_bindings.sh
  testutils/helper.go
  testutils/suite.go
Labels: area.client, area.client.prover, area.client.driver, area.client.proposer, meta.alpha-5

#372 feat(bindings): rename fork choice to state transition
  bindings/.githead
  bindings/encoding/custom_error_test.go
  bindings/gen_taiko_l1.go
  pkg/rpc/utils.go
  prover/prover.go
Labels: area.client, area.client.prover, meta.alpha-5

#374 fix(prover): fix typo
  prover/proof_submitter/valid_proof_submitter.go
  prover/prover.go
Labels: type.bug

#377 feat(bindings): update contract bindings
  bindings/.githead
  bindings/gen_taiko_l1.go
Labels: area.client
