Repository taikoxyz/taiko-client, pull requests merged in 2023-03, with the labels that each got.

#166 feat(prover): new flags for `zkevm-chain`
  cmd/flags/common.go
  cmd/flags/driver.go
  cmd/flags/proposer.go
  cmd/flags/prover.go
  driver/config_test.go
  driver/driver_test.go
  integration_test/entrypoint.sh
  pkg/rpc/client_test.go
  pkg/rpc/dial_test.go
  proposer/config.go
  proposer/config_test.go
  proposer/proposer_test.go
  prover/config.go
  prover/config_test.go
  prover/proof_submitter/valid_proof_submitter_test.go
  prover/prover.go
  prover/prover_test.go
  testutils/suite.go
Labels: client, prover

#169 feat(proposer,prover): make `context.Context` part of `proposer.waitTillSynced` && `ProofProducer.RequestProof`'s parameters
  proposer/proposer.go
  prover/proof_producer/dummy_producer.go
  prover/proof_producer/dummy_producer_test.go
  prover/proof_producer/proof_producer.go
  prover/proof_producer/zkevm_cmd_producer.go
  prover/proof_producer/zkevm_rpcd_producer.go
  prover/proof_producer/zkevm_rpcd_producer_test.go
  prover/proof_submitter/invalid_proof_submitter.go
  prover/proof_submitter/valid_proof_submitter.go
Labels: enhancement, client

#168 refactor(bindings): improve custom errors parsing
  .golangci.yml
  bindings/encoding/custom_error.go
  bindings/encoding/custom_error_test.go
  bindings/error/error.go
  driver/chain_syncer/calldata/syncer.go
  driver/chain_syncer/calldata/syncer_test.go
  integration_test/nodes/docker-compose.yml
  pkg/tx_list_validator/tx_list_validator.go
  proposer/proposer.go
  prover/proof_submitter/util.go
  prover/proof_submitter/util_test.go
Labels: enhancement, client

#170 feat(prover): ensure L2 EE is fully synced when calling `initL1Current`
  pkg/rpc/methods.go
  proposer/proposer.go
  prover/prover.go
Labels: enhancement, client, prover

#174 feat(prover): tracking for most recent block ID to ensure (relatively) consecutive proving by notification system
  metrics/metrics.go
  prover/proof_submitter/invalid_proof_submitter.go
  prover/proof_submitter/valid_proof_submitter.go
Labels: client, prover, metrics

#175 feat(proposer): new flag to propose empty blocks
  cmd/flags/proposer.go
  proposer/config.go
  proposer/proposer.go
  proposer/proposer_test.go
  testutils/helper.go
  testutils/interfaces.go
  version/version.go
Labels: client, proposer

#176 feat(proposer): remove an unused flag
  cmd/flags/proposer.go
  proposer/config.go
Labels: client, proposer

#172 feat(ci): update hive comment
  .github/workflows/hive-test-result.yml
Labels: bug

#178 feat(proposer): add `proposeEmptyBlockGasLimit`
  proposer/proposer.go
Labels: build, proposer

#181 docs(flags): update `txpool.locals` flag usage
  cmd/flags/proposer.go
Labels: proposer
