Repository taikoxyz/taiko-client, pull requests merged in 2023-10, with the labels that each got.

#421 fix(prover): fix L1 height used in `onBlockProven` handler
  prover/prover.go
Labels: area.client, area.client.prover

#424 chore(bindings): update go contract bindings
  bindings/.githead
  bindings/gen_address_manager.go
  bindings/gen_taiko_l1.go
  bindings/gen_taiko_l2.go
  bindings/gen_taiko_token.go
  go.mod
  go.sum
Labels: area.client

#429 feat(bindings): update Go contract bindings based on the latest contestable zkRollup protocol
  bindings/.githead
  bindings/encoding/struct.go
  bindings/gen_taiko_l1.go
  bindings/gen_taiko_l2.go
  bindings/gen_taiko_token.go
  cmd/flags/proposer.go
  cmd/flags/prover.go
  driver/anchor_tx_constructor/anchor_tx_constructor.go
  driver/chain_syncer/calldata/syncer_test.go
  driver/chain_syncer/chain_syncer_test.go
  driver/driver_test.go
  driver/state/state.go
  go.mod
  go.sum
  proposer/config.go
  proposer/proposer.go
  proposer/proposer_test.go
  prover/config.go
  prover/proof_producer/zkevm_rpcd_producer.go
  prover/proof_submitter/evidence/builder.go
  prover/proof_submitter/proof_submitter_test.go
  prover/prover.go
  prover/prover_test.go
  prover/server/api.go
  prover/server/api_test.go
  prover/server/server.go
  prover/server/server_test.go
  testutils/helper.go
Labels: area.client, meta.alpha-n

#427 feat(docs): host swagger doc by github page
  .github/workflows/swagger.yml
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  index.html
  prover/server/api.go
  scripts/gen_swagger_json.sh
Labels: area.docs, type.enhancement

#431 feat(prover): increase the assignment expiration waiting time
  driver/chain_syncer/calldata/syncer.go
  prover/prover.go
Labels: type.enhancement, area.client

#432 fix(docs): add body to api req
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  prover/server/api.go
Labels: area.docs

#433 feat(prover): more accurate `provingWindowExpiresAt` calculation && update bindings
  bindings/.githead
  bindings/gen_taiko_l1.go
  prover/prover.go
Labels: type.enhancement, area.client, area.client.prover

#435 feat(bindings): update Go contract bindings based on latest A6 protocol changes
  bindings/.githead
  bindings/gen_address_manager.go
  bindings/gen_taiko_l1.go
  bindings/gen_taiko_l2.go
  bindings/gen_taiko_token.go
  driver/anchor_tx_constructor/anchor_tx_constructor.go
  integration_test/nodes/init.sh
Labels: area.client

#436 feat(bindings): updates related to TaikoToken && guardian prover changes
  bindings/.githead
  bindings/gen_guardian_prover.go
  bindings/gen_taiko_token.go
  cmd/flags/prover.go
  integration_test/entrypoint.sh
  integration_test/nodes/init.sh
  pkg/rpc/client.go
  prover/config.go
  prover/config_test.go
  prover/proof_submitter/proof_contester.go
  prover/proof_submitter/proof_submitter.go
  prover/proof_submitter/proof_submitter_test.go
  prover/proof_submitter/transaction/builder.go
  prover/prover.go
  prover/prover_test.go
  scripts/gen_bindings.sh
  testutils/suite.go
Labels: area.client, meta.alpha-n

#437 feat(driver): update `anchorGasLimit` based on the latest `TaikoL2` contract
  bindings/.githead
  bindings/gen_taiko_l2.go
  driver/anchor_tx_constructor/anchor_tx_constructor.go
Labels: area.client, area.client.driver, meta.alpha-n

#438 feat(pkg): update `defaultMaxTransactionsPerBlock` to `150`
  pkg/rpc/methods.go
Labels: area.client, area.client.proposer, meta.alpha-6

#439 test(all): add more tests
  bindings/encoding/input_test.go
  driver/chain_syncer/beaconsync/progress_tracker.go
  driver/chain_syncer/beaconsync/progress_tracker_test.go
  driver/chain_syncer/beaconsync/syncer.go
  driver/chain_syncer/chain_syncer.go
  driver/driver_test.go
  driver/state/l1_current.go
  driver/state/l1_current_test.go
  driver/state/state.go
  driver/state/state_test.go
  pkg/rpc/ethclient_test.go
  pkg/rpc/utils.go
  proposer/proposer_test.go
  proposer/prover_selector/eth_fee_eoa_selector.go
  proposer/prover_selector/eth_fee_eoa_selector_test.go
  prover/proof_producer/dummty_producer_test.go
  prover/proof_producer/guardian_producer_test.go
  prover/proof_producer/optimistic_producer_test.go
  prover/proof_producer/sgx_producer_test.go
  prover/proof_producer/zkevm_rpcd_producer_test.go
  prover/proof_submitter/proof_contester_test.go
  prover/proof_submitter/proof_submitter_test.go
  prover/proof_submitter/transaction/builder_test.go
  prover/proof_submitter/transaction/sender_test.go
  prover/prover.go
  prover/prover_test.go
Labels: area.client, type.test, meta.alpha-6
