Repository taikoxyz/taiko-client, pull requests merged in 2023-11, with the labels that each got.

#441 feat(bindings): update Go contract bindings for the latest protocol
  .github/workflows/test.yml
  bindings/.githead
  bindings/encoding/input.go
  bindings/encoding/input_test.go
  bindings/encoding/struct.go
  bindings/gen_address_manager.go
  bindings/gen_guardian_prover.go
  bindings/gen_taiko_l1.go
  bindings/gen_taiko_l2.go
  bindings/gen_taiko_token.go
  driver/chain_syncer/calldata/syncer.go
  driver/chain_syncer/calldata/syncer_test.go
  driver/driver_test.go
  driver/state/state.go
  integration_test/entrypoint.sh
  integration_test/nodes/init.sh
  proposer/proposer.go
  proposer/prover_selector/eth_fee_eoa_selector.go
  proposer/prover_selector/interface.go
  prover/proof_submitter/evidence/builder.go
  prover/proof_submitter/proof_contester.go
  prover/proof_submitter/proof_contester_test.go
  prover/proof_submitter/proof_submitter.go
  prover/proof_submitter/transaction/builder.go
  prover/proof_submitter/transaction/builder_test.go
  prover/prover.go
  prover/prover_test.go
  testutils/helper.go
  testutils/suite.go
Labels: area.client, meta.alpha-6

#442 feat(proposer): remove `--l2.suggestedFeeRecipient` flag
  cmd/flags/proposer.go
  driver/chain_syncer/calldata/syncer_test.go
  driver/chain_syncer/chain_syncer_test.go
  driver/driver_test.go
  proposer/config.go
  proposer/config_test.go
  proposer/proposer_test.go
  prover/proof_submitter/proof_submitter_test.go
  prover/prover_test.go
Labels: type.enhancement, area.client, area.client.proposer

#443 feat(bindings): update Go contract bindings
  bindings/.githead
  bindings/gen_taiko_l1.go
  driver/driver.go
  driver/state/state.go
  pkg/rpc/client.go
  pkg/rpc/methods.go
  pkg/rpc/methods_test.go
  pkg/rpc/utils.go
  prover/proof_submitter/transaction/sender.go
  prover/prover.go
  prover/prover_test.go
Labels: area.client

#444 feat(prover): improve `/status` API
  prover/server/api.go
  prover/server/api_test.go
Labels: type.enhancement, area.client, area.client.prover

#445 feat(driver): improve `ResetL1Current` method based on the latest protocol changes
  bindings/.githead
  bindings/encoding/input.go
  bindings/encoding/input_test.go
  bindings/encoding/struct.go
  bindings/gen_guardian_prover.go
  bindings/gen_taiko_l1.go
  bindings/gen_taiko_l2.go
  driver/chain_syncer/chain_syncer.go
  driver/driver_test.go
  driver/state/l1_current.go
  driver/state/l1_current_test.go
  proposer/proposer.go
  proposer/prover_selector/eth_fee_eoa_selector.go
  prover/prover.go
  prover/prover_test.go
  prover/server/api.go
  testutils/suite.go
Labels: area.client, area.client.driver

#440 fix(tests): fix workflow errors
  pkg/tx_list_validator/tx_list_validator_test.go
  proposer/config_test.go
  prover/proof_producer/dummy_producer_test.go
Labels: area.client, type.test

#447 chore(ci): fix lint errors
  pkg/rpc/fallback.go
Labels: area.client

#448 feat(prover): improve contest check
  pkg/rpc/utils.go
  prover/proof_submitter/interface.go
  prover/proof_submitter/proof_contester.go
  prover/proof_submitter/proof_contester_test.go
  prover/proof_submitter/proof_submitter.go
  prover/prover.go
  prover/prover_test.go
Labels: type.enhancement, area.client, area.client.prover

#449 feat(prover): add blockid slippage flag
  bindings/.githead
  bindings/encoding/input.go
  bindings/encoding/input_test.go
  bindings/encoding/struct.go
  bindings/gen_taiko_l2.go
  bindings/gen_taiko_token.go
  cmd/flags/prover.go
  pkg/rpc/utils.go
  proposer/prover_selector/eth_fee_eoa_selector.go
  prover/config.go
  prover/proof_submitter/interface.go
  prover/proof_submitter/proof_contester.go
  prover/proof_submitter/proof_contester_test.go
  prover/proof_submitter/proof_submitter.go
  prover/prover.go
  prover/prover_test.go
  prover/server/api.go
  prover/server/server.go
Labels: area.client, area.client.prover

#452 test(all): changes based on the latest protocol proxy updates
  .github/workflows/test.yml
  bindings/.githead
  bindings/encoding/custom_error.go
  bindings/encoding/input.go
  bindings/gen_address_manager.go
  bindings/gen_assignment_hook.go
  bindings/gen_guardian_prover.go
  bindings/gen_taiko_l1.go
  bindings/gen_taiko_l2.go
  bindings/gen_taiko_timelock_controller.go
  bindings/gen_taiko_token.go
  driver/chain_syncer/chain_syncer_test.go
  integration_test/entrypoint.sh
  integration_test/nodes/init.sh
  proposer/proposer.go
  scripts/gen_bindings.sh
  testutils/suite.go
Labels: area.client, type.test

#453 feat(test): fix suite.go
  testutils/suite.go
Labels: area.client, type.test

#455 fix(docs): Fix swagger gen
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  prover/server/api.go
Labels: area.docs

#456 test(all): improve test running time && update bindings
  .github/workflows/test.yml
  bindings/.githead
  bindings/gen_guardian_prover.go
  bindings/gen_taiko_timelock_controller.go
  integration_test/entrypoint.sh
  integration_test/nodes/init.sh
  pkg/rpc/utils.go
  prover/prover.go
  prover/prover_test.go
Labels: area.client, type.test
