Repository taikoxyz/taiko-client, pull requests merged in 2024-04, with the labels that each got.

#676 test(repo): change `NumConfirmations` in tests to `0`
  cmd/flags/txmgr.go
  driver/chain_syncer/beaconsync/progress_tracker_test.go
  driver/chain_syncer/calldata/syncer_test.go
  driver/chain_syncer/chain_syncer_test.go
  driver/driver_test.go
  go.mod
  go.sum
  internal/docker/nodes/docker-compose.yml
  pkg/rpc/ethclient_test.go
  proposer/proposer_test.go
  prover/proof_submitter/proof_submitter_test.go
  prover/proof_submitter/transaction/sender_test.go
  prover/prover_test.go
Labels: area.client, type.test

#659 test(prover): more coverage in unit test
  driver/chain_syncer/calldata/syncer_test.go
  driver/driver_test.go
  internal/testutils/suite.go
  pkg/chain_iterator/block_batch_iterator_test.go
  pkg/rpc/methods.go
  prover/event_handler/block_proposed_test.go
  prover/event_handler/block_verified_test.go
  prover/event_handler/transition_proved_test.go
  prover/guardian.go
  prover/prover.go
Labels: area.client, type.test

#677 feat(pkg): update `WaitTillL2ExecutionEngineSynced`
  pkg/rpc/methods.go
  pkg/rpc/methods_test.go
  proposer/proposer.go
Labels: area.client, area.client.prover, area.client.proposer

#672 feat(driver): simplify driver implementation
  cmd/utils/sub_command.go
  driver/chain_syncer/beaconsync/syncer.go
  driver/chain_syncer/calldata/syncer.go
  driver/chain_syncer/calldata/syncer_test.go
  driver/chain_syncer/chain_syncer.go
  driver/chain_syncer/chain_syncer_test.go
  driver/config_test.go
  driver/driver.go
  driver/driver_test.go
  driver/state/state.go
  integration_test/deploy_l1_contract.sh
  integration_test/l1_env.sh
  internal/metrics/metrics.go
  internal/testutils/helper.go
  internal/testutils/interfaces.go
  internal/utils/test_utils.go
  proposer/config_test.go
  proposer/proposer.go
  proposer/proposer_test.go
  prover/config_test.go
  prover/prover.go
Labels: type.enhancement, area.client, area.client.driver

#679 fix(prover): fix a check in `isValidProof()`
  prover/event_handler/util.go
Labels: area.client.prover

#680 feat(bindings): update Go contract bindings
  bindings/.githead
  bindings/gen_guardian_prover.go
  bindings/gen_guardian_verifier.go
  prover/prover_test.go
Labels: area.client

#684 feat(flags): remove `--rpc.waitReceiptTimeout` flag
  .github/workflows/test.yml
  bindings/.githead
  bindings/gen_address_manager.go
  bindings/gen_assignment_hook.go
  bindings/gen_guardian_prover.go
  bindings/gen_guardian_verifier.go
  bindings/gen_lib_proving.go
  bindings/gen_sgx_verifier.go
  bindings/gen_taiko_l1.go
  bindings/gen_taiko_l2.go
  bindings/gen_taiko_timelock_controller.go
  bindings/gen_taiko_token.go
  bindings/gen_tier_provider.go
  cmd/flags/common.go
  driver/chain_syncer/calldata/syncer_test.go
  driver/chain_syncer/chain_syncer_test.go
  driver/driver_test.go
  internal/docker/nodes/docker-compose.yml
  internal/testutils/suite.go
  pkg/rpc/methods.go
  pkg/rpc/utils.go
  pkg/rpc/utils_test.go
  proposer/config.go
  proposer/config_test.go
  proposer/proposer_test.go
  proposer/transaction_builder/common_test.go
  prover/config.go
  prover/event_handler/transition_proved_test.go
  prover/init_test.go
  prover/proof_submitter/proof_submitter_test.go
  prover/prover_test.go
Labels: type.enhancement, area.client

#682 feat(proposer): improve proposing strategy
  .github/workflows/test.yml
  bindings/.githead
  bindings/encoding/input.go
  bindings/encoding/struct.go
  bindings/gen_lib_depositing.go
  bindings/gen_lib_proposing.go
  bindings/gen_lib_verifying.go
  bindings/gen_taiko_l1.go
  cmd/flags/proposer.go
  driver/chain_syncer/calldata/syncer_test.go
  driver/driver_test.go
  driver/state/state.go
  go.mod
  go.sum
  internal/docker/nodes/docker-compose.yml
  internal/testutils/helper.go
  internal/testutils/interfaces.go
  pkg/rpc/engine.go
  pkg/rpc/methods.go
  pkg/rpc/methods_test.go
  proposer/config.go
  proposer/config_test.go
  proposer/proposer.go
  proposer/proposer_test.go
  proposer/transaction_builder/blob.go
  proposer/transaction_builder/calldata.go
  proposer/transaction_builder/common_test.go
  prover/event_handler/transition_proved_test.go
  prover/prover_test.go
  scripts/gen_bindings.sh
Labels: type.enhancement, area.client, area.client.proposer

#689 feat(bindings): update Go contract bindings
  bindings/.githead
  bindings/gen_taiko_l1.go
  cmd/flags/common.go
  cmd/flags/driver.go
  cmd/flags/proposer.go
  pkg/rpc/methods.go
  pkg/rpc/utils.go
  proposer/config.go
  prover/event_handler/util_test.go
Labels: area.client

#692 fix(prover): fix `tx.gasLimit` flag for prover
  prover/config.go
  prover/init.go
  prover/proof_submitter/proof_contester.go
  prover/proof_submitter/proof_submitter.go
  prover/proof_submitter/proof_submitter_test.go
  prover/prover.go
Labels: area.client, area.client.prover

#693 feat(proof_producer): update `sgxProducer` request body
  prover/proof_producer/sgx_producer.go
Labels: area.client, area.client.prover

#694 feat(proof_producer): update SGX `proofParam.bootstrap` to `false`
  prover/proof_producer/sgx_producer.go
Labels: area.client, area.client.prover

#695 feat(driver): add syncmode
  bindings/.githead
  driver/chain_syncer/beaconsync/progress_tracker.go
  driver/chain_syncer/beaconsync/progress_tracker_test.go
  driver/chain_syncer/beaconsync/syncer.go
  driver/chain_syncer/calldata/syncer.go
  driver/chain_syncer/chain_syncer.go
  go.mod
  go.sum
  prover/event_handler/transition_proved_test.go
Labels: area.client, area.client.driver

#699 feat(prover): allow assigned prover to do more
  .github/workflows/test.yml
  prover/event_handler/assignment_expired.go
  prover/event_handler/block_proposed.go
Labels: area.client, area.client.prover

#697 feat(bindings): update Go contract bindings
  bindings/.githead
  bindings/encoding/input.go
  bindings/encoding/input_test.go
  bindings/gen_address_manager.go
  bindings/gen_assignment_hook.go
  bindings/gen_guardian_prover.go
  bindings/gen_lib_proving.go
  bindings/gen_lib_verifying.go
  bindings/gen_taiko_l1.go
  driver/chain_syncer/beaconsync/syncer.go
  driver/chain_syncer/calldata/syncer.go
  driver/state/l1_current.go
  driver/state/state.go
  pkg/rpc/methods.go
  pkg/rpc/subscription.go
  pkg/rpc/utils.go
  proposer/proposer.go
  proposer/prover_selector/eth_fee_eoa_selector.go
  proposer/prover_selector/eth_fee_eoa_selector_test.go
  proposer/transaction_builder/common.go
  proposer/transaction_builder/common_test.go
  prover/event_handler/assignment_expired.go
  prover/event_handler/block_proposed.go
  prover/event_handler/block_verified.go
  prover/event_handler/transition_contested.go
  prover/event_handler/transition_proved.go
  prover/proof_submitter/proof_contester.go
  prover/proof_submitter/proof_submitter.go
  prover/server/api.go
  prover/server/api_test.go
Labels: area.client

#688 feat(driver): add blob datasource
  cmd/flags/driver.go
  driver/chain_syncer/calldata/syncer.go
  driver/chain_syncer/calldata/syncer_test.go
  driver/chain_syncer/chain_syncer.go
  driver/chain_syncer/chain_syncer_test.go
  driver/config.go
  driver/driver.go
  driver/txlist_fetcher/blob.go
  driver/txlist_fetcher/calldata.go
  driver/txlist_fetcher/interface.go
  internal/testutils/helper.go
  internal/utils/utils.go
  pkg/error.go
  pkg/rpc/blob_datasource.go
  proposer/proposer_test.go
  prover/anchor_tx_validator/anchor_tx_validator.go
  prover/event_handler/transition_proved_test.go
  prover/proof_producer/sgx_producer.go
  prover/proof_submitter/proof_submitter.go
  prover/proof_submitter/proof_submitter_test.go
Labels: type.enhancement, area.client, area.client.driver

#705 feat(bindings): update Go contract bindings
  bindings/.githead
  bindings/encoding/input.go
  bindings/gen_lib_proving.go
  cmd/flags/common.go
  cmd/flags/prover.go
  integration_test/l1_env.sh
  prover/config.go
  prover/prover.go
Labels: area.client

#706 feat(prover): stop retrying when error is `vm.ErrExecutionReverted`
  prover/proof_submitter/transaction/sender.go
  prover/prover.go
Labels: area.client, area.client.prover

#708 feat(rpc): keep retrying when connecting to endpoints
  driver/config_test.go
  pkg/rpc/client.go
  prover/prover_test.go
Labels: area.client

#710 chore(deps): bump `taiko-geth` tag
  go.mod
  go.sum
Labels: area.client

#711 feat(prover): introduce three `raiko` related flags
  cmd/flags/prover.go
  prover/config.go
  prover/init.go
Labels: area.client, area.client.prover

#712 feat(metrics): remove an unused metric
  internal/metrics/metrics.go
Labels: area.client

#713 test(driver): fix an issue in driver.State `TestClose`
  driver/state/state_test.go
Labels: area.client, area.client.driver, type.test

#714 chore(test): bump foundry version in integration tests
  driver/driver_test.go
  internal/docker/nodes/docker-compose.yml
Labels: area.client, type.test

#715 feat(rpc): improve `L2ParentByBlockID`
  pkg/rpc/methods.go
Labels: area.client, area.client.driver

#716 feat(rpc): remove `WaitL1Origin()` method
  bindings/.githead
  bindings/gen_assignment_hook.go
  bindings/gen_guardian_prover.go
  bindings/gen_lib_proposing.go
  bindings/gen_lib_verifying.go
  bindings/gen_taiko_l1.go
  pkg/rpc/methods.go
  pkg/rpc/utils.go
  prover/event_handler/block_proposed.go
  prover/guardian_prover_heartbeater/guardian_prover.go
  prover/proof_submitter/proof_submitter.go
Labels: type.enhancement, area.client

#717 chore: fix typo in comment
  pkg/rpc/blob_datasource.go
Labels: area.client, area.client.driver

#718 feat(driver): only allow one successful beacon sync
  driver/chain_syncer/beaconsync/progress_tracker.go
  driver/chain_syncer/chain_syncer.go
Labels: area.client.driver, area.client.proposer

#722 chore(deps): bump dependencies version
  go.mod
  go.sum
Labels: area.client

#724 feat(metrics): remove some unused metrics
  internal/metrics/metrics.go
Labels: area.client

#723 feat(proposer): introduce `TxSender` for proposer
  internal/docker/nodes/docker-compose.yml
  internal/testutils/helper.go
  internal/testutils/interfaces.go
  proposer/proposer.go
Labels: type.enhancement, area.client, area.client.proposer

#725 feat(metrics): collect `txmgr` metrics
  driver/chain_syncer/calldata/syncer.go
  driver/state/state.go
  go.mod
  internal/docker/nodes/docker-compose.yml
  internal/metrics/metrics.go
  proposer/proposer.go
  prover/event_handler/block_proposed.go
  prover/event_handler/block_verified.go
  prover/event_handler/transition_proved.go
  prover/proof_producer/sgx_producer.go
  prover/proof_submitter/proof_submitter.go
  prover/proof_submitter/transaction/sender.go
  prover/prover.go
Labels: type.enhancement, area.client, area.client.prover, area.client.proposer

#728 fix(proposer): fix an issue in `ProposeOp`
  proposer/proposer.go
Labels: area.client, area.client.proposer

#730 feat(prover): use `--guardian.submissionDelay` flag
  cmd/flags/prover.go
  prover/event_handler/block_proposed.go
  prover/event_handler/block_proposed_test.go
  prover/init.go
Labels: area.client, area.client.prover

#731 feat(prover): check proof status before sending the transaction
  prover/proof_submitter/transaction/sender.go
  prover/proof_submitter/transaction/sender_test.go
Labels: area.client, area.client.prover

#729 feat(cmd): default unit for all related flags / logs
  cmd/flags/common.go
  cmd/flags/driver.go
  cmd/flags/proposer.go
  cmd/flags/prover.go
  cmd/flags/txmgr.go
  driver/anchor_tx_constructor/anchor_tx_constructor.go
  driver/chain_syncer/calldata/syncer.go
  driver/config.go
  driver/config_test.go
  internal/utils/util_test.go
  internal/utils/utils.go
  pkg/rpc/methods.go
  pkg/rpc/utils.go
  proposer/config.go
  proposer/config_test.go
  proposer/proposer.go
  prover/config.go
  prover/config_test.go
  prover/init.go
  prover/prover.go
  prover/prover_test.go
  prover/server/api.go
Labels: type.enhancement, area.client

#735 feat(bindings): update Go contract bindings
  bindings/.githead
  bindings/gen_lib_verifying.go
  bindings/gen_taiko_l1.go
  bindings/gen_taiko_l2.go
  bindings/gen_taiko_token.go
  integration_test/l1_env.sh
Labels: area.client

#733 perf(main): use errors.New to replace fmt.Errorf with no parameters
  driver/state/l1_current.go
  pkg/rpc/engine.go
  prover/config.go
Labels: type.enhancement, area.client

#738 refactor(driver): rename `calldataSyncer` to `blobSyncer`
  driver/chain_syncer/blob/syncer.go
  driver/chain_syncer/blob/syncer_test.go
  driver/chain_syncer/chain_syncer.go
  driver/chain_syncer/chain_syncer_test.go
  driver/driver_test.go
  internal/testutils/helper.go
  internal/testutils/interfaces.go
  proposer/proposer_test.go
  prover/event_handler/block_proposed_test.go
  prover/event_handler/transition_proved_test.go
  prover/proof_submitter/proof_submitter_test.go
  prover/prover_test.go
Labels: area.client, area.client.driver

#739 chore(deps): bump dependencies version
  go.mod
  go.sum
Labels: area.client

#732 chore(ci): push images to GAR
  .github/workflows/docker.yml
  internal/docker/nodes/docker-compose.yml
Labels: area.client

#744 feat(prover): improve guardian prover `SendStartup` logs
  prover/guardian_prover_heartbeater/guardian_prover.go
  prover/guardian_prover_heartbeater/interface.go
  prover/prover.go
Labels: area.client, area.client.prover

#750 feat(prover): improve `getRandomBumpedSubmissionDelay` && bump bindings
  bindings/.githead
  bindings/encoding/struct.go
  bindings/gen_guardian_prover.go
  bindings/gen_lib_proving.go
  bindings/gen_taiko_l1.go
  prover/event_handler/block_proposed.go
  prover/event_handler/block_proposed_test.go
  prover/event_handler/util.go
  prover/prover_test.go
  scripts/gen_bindings.sh
Labels: area.client, area.client.prover

#749 chore(docs): update a method comment
  pkg/rpc/engine.go
Labels: area.client, area.client.proposer

#751 feat(bindings): update Go contract bindings
  bindings/.githead
  bindings/gen_guardian_prover.go
  bindings/gen_guardian_verifier.go
  bindings/gen_lib_verifying.go
  bindings/gen_taiko_l1.go
  bindings/gen_taiko_l2.go
  bindings/gen_taiko_token.go
Labels: area.client

#756 feat(proposer): improve proposer error messages
  proposer/proposer.go
Labels: area.client, area.client.proposer

#757 chore(prover): remove duplicate word in `swag` comment
  prover/server/api.go
Labels: area.client, area.client.prover

#760 feat(driver): rename a flag
  cmd/flags/driver.go
Labels: area.client, area.client.driver

#763 feat(sender): fix bug
  bindings/encoding/custom_error.go
Labels: type.bug, area.client

#764 feat(pkg): add more `utils.WeiToEther` in logs
  prover/event_handler/block_proposed.go
  prover/event_handler/transition_contested.go
  prover/init.go
Labels: area.client

#765 feat(proposer): fix an issue in `ProposeTxLists`
  proposer/proposer.go
Labels: area.client, area.client.proposer

#774 feat(bindings): update Go contract bindings
  bindings/.githead
  bindings/gen_taiko_l1.go
  integration_test/l1_env.sh
  internal/testutils/helper.go
  pkg/rpc/utils_test.go
  pkg/txlist_validator/tx_list_validator_test.go
Labels: area.client

#773 fix: error handling improvements
  pkg/rpc/blob_datasource.go
  pkg/rpc/subscription.go
Labels: area.client

#780 fix(prover): fix nil of `MinSgxAndZkVMTierFee` in Prover Server
  integration_test/l1_env.sh
  prover/prover.go
Labels: type.bug, area.client, area.client.prover

#781 test(docker): update smart contracts deployment script
  integration_test/l1_env.sh
Labels: area.client, type.test

#782 feat(driver): rename some variables
  cmd/flags/driver.go
  driver/chain_syncer/chain_syncer.go
  driver/config.go
  driver/config_test.go
  driver/driver.go
Labels: area.client
