Repository taikoxyz/taiko-client, pull requests merged in 2024-02, with the labels that each got.

#540 feat(proposer): add flag for adding tip to assignmenthook
  cmd/flags/proposer.go
  driver/chain_syncer/calldata/syncer_test.go
  driver/chain_syncer/chain_syncer_test.go
  driver/driver_test.go
  proposer/config.go
  proposer/proposer.go
  proposer/proposer_test.go
  prover/proof_submitter/proof_submitter_test.go
  prover/prover_test.go
Labels: area.client.proposer

#546 chore(go.mod): upgrade `taiko-geth` dependency
  go.mod
  go.sum
  integration_test/l1_env.sh
Labels: area.client

#549 feat(all): sync state root rather than signal service's storage root
  .github/workflows/test.yml
  bindings/.githead
  bindings/encoding/input.go
  bindings/encoding/struct.go
  bindings/gen_assignment_hook.go
  bindings/gen_guardian_prover.go
  bindings/gen_lib_proving.go
  bindings/gen_lib_verifying.go
  bindings/gen_taiko_l1.go
  bindings/gen_taiko_l2.go
  bindings/gen_taiko_token.go
  driver/anchor_tx_constructor/anchor_tx_constructor.go
  driver/state/state.go
  internal/docker/nodes/docker-compose.yml
  pkg/rpc/methods.go
  pkg/rpc/methods_test.go
  pkg/rpc/utils.go
  proposer/proposer.go
  prover/proof_producer/proof_producer.go
  prover/proof_producer/zkevm_rpcd_producer.go
  prover/proof_submitter/proof_contester.go
  prover/proof_submitter/proof_submitter.go
  prover/proof_submitter/transaction/sender.go
  prover/prover.go
Labels: area.client, area.client.prover, area.client.driver

#551 feat(bindings): update Go contract bindings
  .github/workflows/test.yml
  .gitignore
  bindings/.githead
  bindings/encoding/struct.go
  bindings/gen_lib_utils.go
  bindings/gen_taiko_l1.go
  driver/anchor_tx_constructor/anchor_tx_constructor.go
  driver/anchor_tx_constructor/anchor_tx_constructor_test.go
  driver/chain_syncer/calldata/syncer.go
  internal/docker/docker_env.sh
  prover/proof_producer/zkevm_rpcd_producer.go
Labels: area.client

#550 feat(proposer): restore l2.suggestedFeeRecipient flag
  .github/workflows/test.yml
  cmd/flags/proposer.go
  driver/chain_syncer/calldata/syncer_test.go
  driver/chain_syncer/chain_syncer_test.go
  driver/driver_test.go
  integration_test/test_env.sh
  proposer/config.go
  proposer/config_test.go
  proposer/proposer.go
  proposer/proposer_test.go
  prover/proof_submitter/proof_submitter_test.go
  prover/prover_test.go
Labels: area.client.proposer

#526 feat(repo): implement EIP-4844 in client
  .gitignore
  Dockerfile
  cmd/flags/driver.go
  cmd/flags/proposer.go
  driver/chain_syncer/calldata/syncer.go
  driver/config.go
  driver/driver.go
  driver/txlist_fetcher/blob.go
  driver/txlist_fetcher/calldata.go
  driver/txlist_fetcher/interface.go
  go.mod
  go.sum
  integration_test/README.md
  internal/docker/.gitignore
  internal/docker/nodes/.env
  internal/docker/nodes/jwt.hex
  internal/testutils/suite.go
  internal/utils/utils.go
  pkg/rpc/client.go
  pkg/rpc/ethclient.go
  pkg/rpc/methods.go
  pkg/rpc/tx_blob.go
  pkg/rpc/tx_blob_test.go
  pkg/rpc/utils.go
  pkg/txlistvalidator/tx_list_validator.go
  pkg/txlistvalidator/tx_list_validator_test.go
  proposer/config.go
  proposer/proposer.go
  proposer/proposer_test.go
Labels: area.client, area.client.prover, area.client.driver, area.client.proposer

#553 feat(bindings): update Go contract bindings
  bindings/.githead
  bindings/gen_guardian_prover.go
Labels: area.client

#555 feat(driver): updates based on the protocol `ICrossChainSync` changes
  bindings/.githead
  bindings/gen_lib_verifying.go
  bindings/gen_taiko_l1.go
  bindings/gen_taiko_l2.go
  driver/chain_syncer/beaconsync/syncer.go
  driver/chain_syncer/calldata/syncer.go
  driver/chain_syncer/chain_syncer.go
  driver/chain_syncer/chain_syncer_test.go
  driver/state/state.go
  driver/state/state_test.go
  internal/metrics/metrics.go
  pkg/rpc/methods.go
  pkg/rpc/subscription.go
  pkg/rpc/subscription_test.go
Labels: area.client, area.client.driver

#556 feat(proposer): improve some wording in blob transactions implementation
  cmd/flags/proposer.go
  pkg/rpc/tx_blob.go
Labels: area.client, area.client.proposer

#558 feat(all): changes based on protocol `TaikoL1.getBlock()` update
  bindings/.githead
  bindings/gen_lib_proposing.go
  bindings/gen_lib_verifying.go
  bindings/gen_taiko_l1.go
  driver/chain_syncer/beaconsync/syncer.go
  driver/chain_syncer/calldata/syncer.go
  driver/state/l1_current.go
  proposer/proposer.go
  prover/proof_submitter/proof_submitter.go
  prover/prover.go
Labels: area.client

#561 feat(bindings): update bindings
  bindings/.githead
  bindings/encoding/input.go
  bindings/gen_guardian_prover.go
  bindings/gen_lib_proving.go
  bindings/gen_lib_verifying.go
  bindings/gen_taiko_l1.go
Labels: area.client

#566 feat(prover): update `SGXProducer`
  bindings/.githead
  cmd/flags/common.go
  cmd/flags/driver.go
  driver/config.go
  driver/config_test.go
  prover/config.go
  prover/config_test.go
  prover/proof_producer/sgx_producer.go
  prover/prover.go
Labels: area.client, area.client.prover

#570 feat(bindings): update Go contract bindings
  bindings/.githead
  bindings/gen_taiko_l2.go
Labels: area.client

#560 feat(all): use an unified transaction sender implementation
  driver/driver_test.go
  go.mod
  go.sum
  internal/sender/common.go
  internal/sender/sender.go
  internal/sender/sender_test.go
  internal/testutils/helper.go
  internal/testutils/interfaces.go
  internal/testutils/suite.go
  internal/utils/utils.go
  pkg/rpc/utils.go
  proposer/proposer.go
  proposer/proposer_test.go
Labels: type.enhancement, area.client

#575 fix(flags): fix logger level flags
  cmd/logger/logger.go
  integration_test/entrypoint.sh
  integration_test/test_env.sh
  internal/testutils/suite.go
Labels: area.client

#580 chore(deps): upgrade `taiko-geth` dependence
  go.mod
  go.sum
  pkg/txlistvalidator/tx_list_validator_test.go
Labels: area.client

#581 feat(all): clean up unused signal service related code
  driver/anchor_tx_constructor/anchor_tx_constructor.go
  driver/anchor_tx_constructor/anchor_tx_constructor_test.go
  driver/chain_syncer/calldata/syncer.go
  driver/chain_syncer/calldata/syncer_test.go
  driver/chain_syncer/chain_syncer.go
  driver/chain_syncer/chain_syncer_test.go
  driver/driver.go
  driver/driver_test.go
  integration_test/entrypoint.sh
  integration_test/test_env.sh
  pkg/rpc/methods.go
  prover/proof_producer/proof_producer.go
  prover/proof_producer/zkevm_rpcd_producer.go
  prover/proof_submitter/proof_contester.go
  prover/proof_submitter/proof_submitter.go
  prover/proof_submitter/proof_submitter_test.go
  prover/prover.go
  prover/prover_test.go
Labels: type.enhancement, area.client, area.client.prover

#584 fix(propsoer): use L1BlockBuilderTip flag value
  proposer/proposer.go
Labels: area.client, area.client.proposer
