Repository taikoxyz/taiko-client, pull requests merged in 2024-05, with the labels that each got.

#785 feat(bindings): update Go contract bindings
  bindings/.githead
  bindings/gen_taiko_timelock_controller.go
  bindings/gen_taiko_token.go
  scripts/gen_bindings.sh
Labels: area.client

#784 feat(client): update makefile
  Makefile
Labels: area.client

#783 feat(driver): check `maxBytesPerTxList` for compressed txlist bytes
  .github/workflows/test.yml
  driver/chain_syncer/blob/syncer.go
  driver/txlist_decompressor/txlist_decompressor.go
  driver/txlist_decompressor/txlist_decompressor_test.go
  pkg/txlist_validator/tx_list_validator.go
Labels: area.client, area.client.driver

#788 fix(proposer): fix tier fee in deep copy
  proposer/prover_selector/eth_fee_eoa_selector.go
Labels: type.bug, area.client, area.client.proposer

#786 feat(driver): do not fetch `GoldenTouchAddress`
  driver/anchor_tx_constructor/anchor_tx_constructor.go
  driver/anchor_tx_constructor/anchor_tx_constructor_test.go
Labels: area.client, area.client.driver

#787 feat(proposer): improve `ProposeOp`
  driver/driver_test.go
  internal/testutils/helper.go
  internal/testutils/interfaces.go
  pkg/rpc/methods.go
  proposer/proposer.go
  proposer/proposer_test.go
Labels: area.client.proposer

#791 feat(bindings): update Go contract bindings
  bindings/.githead
  bindings/gen_address_manager.go
  bindings/gen_assignment_hook.go
  bindings/gen_guardian_prover.go
  bindings/gen_sgx_verifier.go
  bindings/gen_taiko_l1.go
  bindings/gen_taiko_l2.go
  bindings/gen_taiko_token.go
  bindings/gen_tier_provider.go
Labels: area.client

#793 chore(deps): bump `taiko-geth` version
  .github/workflows/test.yml
  go.mod
  go.sum
Labels: area.client

#794 feat(metrics): introduce `ProverProvenByGuardianGauge`
  internal/metrics/metrics.go
  pkg/rpc/methods.go
  prover/event_handler/block_verified.go
  prover/init.go
  prover/prover.go
  prover/prover_test.go
Labels: area.client, area.client.prover

#797 feat(prover): make guardian provers connecting to their local `raiko` service
  driver/txlist_decompressor/txlist_decompressor.go
  driver/txlist_decompressor/txlist_decompressor_test.go
  prover/config.go
  prover/init.go
  prover/proof_producer/guardian_producer.go
  prover/proof_producer/guardian_producer_test.go
  prover/proof_producer/sgx_producer.go
Labels: area.client, area.client.prover

#798 chore(prover): make raiko host endpoint required
  cmd/flags/prover.go
Labels: area.client.prover

#799 test(proposer): change tests to send blob transactions
  internal/docker/nodes/docker-compose.yml
  proposer/proposer_test.go
  proposer/transaction_builder/common_test.go
Labels: area.client, area.client.proposer, type.test

#777 feat(prover): introduce `TierGuardianMinority`
  bindings/encoding/struct.go
  cmd/flags/prover.go
  integration_test/entrypoint.sh
  integration_test/test_env.sh
  internal/testutils/suite.go
  pkg/rpc/client.go
  proposer/proposer.go
  prover/config.go
  prover/config_test.go
  prover/event_handler/block_proposed.go
  prover/event_handler/util_test.go
  prover/init.go
  prover/proof_producer/guardian_producer.go
  prover/proof_producer/guardian_producer_test.go
  prover/proof_submitter/proof_contester.go
  prover/proof_submitter/proof_submitter.go
  prover/proof_submitter/proof_submitter_test.go
  prover/proof_submitter/transaction/builder.go
  prover/proof_submitter/transaction/builder_test.go
  prover/proof_submitter/transaction/sender_test.go
  prover/prover.go
  prover/prover_test.go
  prover/server/api.go
Labels: area.client, area.client.prover
